html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #FFFFFF;
  font-family: sans-serif, 'Open Sans';
  overflow-y: scroll;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.8);
}
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 60%;
  padding: 0% 20%;
  height: 40px;
  float: left;
  display: inline-block;
  background: #1947a3;
}
.header .logo {
  float: left;
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  padding: 12px 0px;
  height: 16px;
  color: #EEEEEE;
}
.header .logo:hover {
  color: #FFFFFF;
}
.header .logo i {
  margin-right: 5px;
}
.header .navibar {
  float: left;
  display: inline-block;
  padding: 12px 2%;
  height: 16px;
  color: #EEEEEE;
}
.header .navibar i {
  margin-right: 10px;
}
.header .profile {
  float: right;
  display: inline-block;
  padding: 12px 1%;
  height: 16px;
  color: #FFFFFF;
  font-size: 0.9em;
}
.header .profile:hover {
  background: #003399;
}
.header .profile .name {
  float: left;
  display: inline-block;
  color: #FFFFFF;
}
.header .profile a {
  color: #FFFFFF;
}
.header .profile a.logout {
  color: #ea6153;
}
.header .profile a.logout:hover {
  text-decoration: underline;
}
.header .profile i {
  margin-right: 5px;
}
.login-container {
  width: 30%;
  margin: 0% 35%;
  float: left;
  display: inline-block;
  margin-top: 10%;
  text-align: center;
}
.login-container .logo {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
}
.login-container .logo h1 {
  font-size: 3.5em;
}
.login-container .logo .icon {
  font-size: 3em;
  margin-bottom: 5%;
  color: #003399;
}
.login-container .logo p.version {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.3);
}
.login-container .input {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 20%;
}
.login-container .input .input-text {
  width: 96%;
  padding: 2%;
  float: left;
  display: inline-block;
  font-family: sans-serif, 'Open Sans';
  font-size: 1.5em;
  line-height: 1.5em;
  color: #003399;
  margin-bottom: 3%;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
}
.login-container .input .input-text:focus {
  border-bottom: 1px solid #EEEEEE;
}
.login-container .input .login-btn {
  width: 35%;
  padding: 3% 0%;
  float: right;
  display: inline-block;
  font-family: sans-serif, 'Open Sans';
  font-size: 1em;
  line-height: 1.5em;
  border: 0px;
  text-align: center;
  background: #003399;
  color: #FFFFFF;
  border-radius: 2px;
}
.login-container .input .login-btn i {
  margin-left: 10px;
}
.login-container .input .login-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.container {
  width: 100%;
  margin-top: 40px;
  min-height: 500px;
  float: left;
  display: inline-block;
}
.container .head {
  width: 60%;
  padding: 0% 20%;
  float: left;
  display: inline-block;
}
.container .head .head-title {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  color: #000000;
  text-align: center;
}
.container .head .head-title h2 {
  font-size: 0.9em;
  font-weight: normal;
}
.container .head .head-title h1 {
  font-size: 3em;
  color: #000000;
  line-height: 1.2em;
}
.container .head .head-title p {
  font-size: 0.9em;
  line-height: 1.3em;
  color: #555555;
}
.container .head .head-title a {
  color: #003399;
}
.container .head .head-title a:hover {
  text-decoration: underline;
}
.container .head .head-title a i {
  margin-left: 5px;
}
.container .head .head-title .btn {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 5%;
}
.container .head .head-title .btn a.btn-create {
  background: #4CAF50;
  padding: 10px 15px;
  color: #FFFFFF;
  border-radius: 3px;
  font-weight: bold;
}
.container .head .head-title .btn a.btn-create:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}
.container .head .head-title .btn a.btn-create i {
  margin-left: 10px;
  font-size: 0.8em;
}
.container .operation-form-container {
  width: 60%;
  margin: 2% 20%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
}
.container .operation-form-container .heads {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.container .operation-form-container .heads h3 {
  font-size: 2em;
}
.container .operation-form-container .heads p {
  font-size: 1em;
  line-height: 1.5em;
}
.container .operation-form-container .operation-items {
  width: 100%;
  float: left;
  display: inline-block;
  line-height: 3em;
  font-size: 1em;
  border-bottom: 1px solid #FAFAFA;
}
.container .operation-form-container .operation-items .col1 {
  width: 40%;
  float: left;
  display: inline-block;
}
.container .operation-form-container .operation-items .col2 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .operation-form-container .operation-items .col3 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .operation-form-container .operation-items .col4 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .operation-form-container .operation-items .col5 {
  width: 27%;
  float: left;
  display: inline-block;
  margin-left: 3%;
}
.container .operation-form-container .operation-items .input-text {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: sans-serif, 'Open Sans';
  font-size: 1em;
  border: 0px;
  line-height: 3em;
  border-radius: 2px;
  text-align: right;
}
.container .operation-form-container .operation-items .input-select {
  width: 100%;
  text-align: left;
  -webkit-appearance: none;
}
.container .operation-form-container .topic-fix {
  font-size: 0.7em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
}
.container .header-report-form-container {
  width: 60%;
  margin: 2% 20%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
}
.container .header-report-form-container .heads {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.container .header-report-form-container .heads .title {
  float: left;
  display: inline-block;
}
.container .header-report-form-container .heads .title h1 {
  font-size: 1.5em;
  font-weight: bold;
}
.container .header-report-form-container .heads .title p {
  font-size: 0.9em;
  line-height: 1.5em;
}
.container .header-report-form-container .heads .date {
  float: right;
  display: inline-block;
}
.container .header-report-form-container .heads .date .input-select {
  float: left;
  display: inline-block;
  font-size: 0.9em;
  font-family: sans-serif, 'Open Sans';
  -webkit-appearance: none;
  line-height: 1.5em;
  padding: 5px 8px;
  margin-right: 5px;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  text-align: center;
}
.container .header-report-form-container .form-section {
  width: 100%;
  padding: 2% 0%;
  float: left;
  display: inline-block;
  border-top: 1px dotted #EEEEEE;
}
.container .header-report-form-container .form-section .title {
  width: 30%;
  float: left;
  display: inline-block;
  line-height: 2em;
  font-size: 0.9em;
}
.container .header-report-form-container .form-section .input {
  width: 70%;
  float: left;
  display: inline-block;
}
.container .header-report-form-container .form-section .input .section-items {
  width: 15%;
  margin-right: 5%;
  float: left;
  display: inline-block;
}
.container .header-report-form-container .form-section .input .section-items .caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.7em;
  color: #555555;
  line-height: 2em;
}
.container .header-report-form-container .form-section .input .section-items .input {
  width: 100%;
  float: left;
  display: inline-block;
}
.container .header-report-form-container .form-section .input .section-items .input .input-text {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: sans-serif, 'Open Sans';
  font-size: 2em;
  border: 0px;
  border-bottom: 1px solid #FAFAFA;
  line-height: 1.3em;
  border-radius: 2px;
}
.container .header-report-form-container .form-section .input .section-items .input .input-select {
  -webkit-appearance: none;
}
.container .control-container {
  width: 60%;
  margin: 0% 20%;
  float: left;
  display: inline-block;
}
.container .control-container a.btn-back {
  float: left;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.4);
}
.container .control-container a.btn-back:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container .control-container a.btn-back i {
  margin-right: 10px;
}
.container .control-container .submit-btn {
  float: right;
  display: inline-block;
  font-size: 0.9em;
  padding: 10px 20px;
  background: #4CAF50;
  color: #FFFFFF;
  border: 0px;
  border-radius: 2px;
  font-weight: bold;
}
.container .control-container .submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.container .control-container .submit-btn i {
  margin-left: 10px;
}
.container .list-container {
  width: 60%;
  margin: 0% 20%;
  float: left;
  display: inline-block;
}
.container .list-container p.topic {
  width: 100%;
  float: left;
  display: inline-block;
  line-height: 2em;
}
.container .list-container .header-report-table {
  width: 100%;
  float: left;
  display: inline-block;
  line-height: 2em;
  font-size: 0.9em;
  margin-bottom: 3%;
}
.container .list-container .header-report-table .box1 {
  width: 25%;
  float: left;
  display: inline-block;
  text-align: center;
  border: 1px solid #EEEEEE;
  border-right: 0px solid transparent;
}
.container .list-container .header-report-table .box1 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box1 .col {
  width: 25%;
  float: left;
  display: inline-block;
}
.container .list-container .header-report-table .box1 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box1 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box2 {
  width: 30%;
  float: left;
  display: inline-block;
  text-align: center;
  border: 1px solid #EEEEEE;
  border-right: 0px solid transparent;
}
.container .list-container .header-report-table .box2 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box2 .col {
  width: 20%;
  float: left;
  display: inline-block;
}
.container .list-container .header-report-table .box2 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box2 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box3 {
  width: 20.2%;
  float: left;
  display: inline-block;
  text-align: center;
  border: 1px solid #EEEEEE;
  border-right: 0px solid transparent;
}
.container .list-container .header-report-table .box3 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box3 .col {
  width: 25%;
  float: left;
  display: inline-block;
}
.container .list-container .header-report-table .box3 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box3 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box4 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: center;
  border: 1px solid #EEEEEE;
  border-right: 0px solid transparent;
}
.container .list-container .header-report-table .box4 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box4 .col {
  width: 50%;
  float: left;
  display: inline-block;
}
.container .list-container .header-report-table .box4 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box4 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box5 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: center;
  border: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box5 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box5 .col {
  width: 50%;
  float: left;
  display: inline-block;
}
.container .list-container .header-report-table .box5 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .header-report-table .box5 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .caliber-in-report-items {
  width: 98%;
  padding: 1%;
  float: left;
  display: inline-block;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin-bottom: 2%;
}
.container .list-container .caliber-in-report-items .info {
  width: 100%;
  float: left;
  display: inline-block;
}
.container .list-container .caliber-in-report-items .info .name {
  width: 50%;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
}
.container .list-container .caliber-in-report-items .info .control {
  width: 50%;
  float: left;
  display: inline-block;
}
.container .list-container .caliber-in-report-items .info .control a.btn {
  float: right;
  display: inline-block;
  background: #EEEEEE;
  color: #AAAAAA;
  margin-left: 5px;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 3px;
}
.container .list-container .caliber-in-report-items .info .description {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.5em;
}
.container .list-container .caliber-in-report-items .operations {
  width: 100%;
  float: left;
  display: inline-block;
  background: #FAFAFA;
  border-radius: 3px;
  margin-top: 2%;
}
.container .list-container .caliber-in-report-items .operations .operation-items {
  width: 100%;
  padding: 1% 0%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
  font-size: 0.9em;
}
.container .list-container .caliber-in-report-items .operations .operation-items:last-child {
  border-bottom: 0px;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col1 {
  width: 47%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col2 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col3 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col4 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col5 {
  width: 13%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col6 {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: right;
  font-size: 0.8em;
  line-height: 1.5em;
  display: none;
}
.container .list-container .caliber-in-report-items .operations .topic-fix {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.6em;
}
.container .list-container .caliber-in-report-items .operations .topic-fix:hover {
  color: rgba(0, 0, 0, 0.6);
}
.container .list-container .empty-items {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  font-size: 1em;
  color: #CCCCCC;
  text-align: center;
}
.container .list-container .report-header-items {
  width: 100%;
  padding: 1% 0%;
  float: left;
  display: inline-block;
  line-height: 1.5em;
  font-size: 0.9em;
  border-bottom: 1px solid #DDDDDD;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .report-header-items:hover {
  cursor: pointer;
  background: #FAFAFA;
}
.container .list-container .report-header-items .mini {
  font-size: 0.5em;
}
.container .list-container .report-header-items .col1 {
  width: 12%;
  float: left;
  display: inline-block;
}
.container .list-container .report-header-items .col2 {
  width: 8%;
  float: left;
  display: inline-block;
  text-align: center;
}
.container .list-container .report-header-items .col3 {
  width: 13%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .report-header-items .col4 {
  width: 13%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .report-header-items .col5 {
  width: 10%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .report-header-items .col6 {
  width: 16%;
  margin-left: 4%;
  float: left;
  display: inline-block;
}
.container .list-container .report-header-items .col7 {
  width: 23%;
  padding-right: 1%;
  float: left;
  display: inline-block;
}
.container .list-container .report-header-items .col7 i {
  float: right;
}
.container .list-container .last-items {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .report-caliber-detail-items {
  width: 60%;
  padding: 0% 20%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
  font-size: 0.9em;
  line-height: 2.5em;
}
.container .list-container .report-caliber-detail-items:hover {
  background: #FAFAFA;
}
.container .list-container .report-caliber-detail-items .col1 {
  width: 20%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col2 {
  width: 10%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col3 {
  width: 10%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col4 {
  width: 20%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col5 {
  width: 20%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col6 {
  width: 20%;
  padding-right: 1%;
  float: left;
  display: inline-block;
  text-align: right;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .caliber-choose-items {
  width: 100%;
  padding: 2% 0%;
  line-height: 1.5em;
  float: left;
  display: inline-block;
  border-top: 1px solid #DDDDDD;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
}
.container .list-container .caliber-choose-items:last-child {
  border-bottom: 1px solid #DDDDDD;
}
.container .list-container .caliber-choose-items strong {
  color: #000000;
}
.container .list-container .caliber-choose-items:hover {
  cursor: pointer;
  background: #FAFAFA;
}
.container .list-container .caliber-choose-items .ttl_operation {
  font-style: italic;
}
.container .list-container .caliber-choose-items i {
  float: right;
  font-size: 1em;
  line-height: 1.5em;
}
.container .list-container .unlink-items {
  color: rgba(0, 0, 0, 0.1);
}
.container .list-container .unlink-items strong {
  color: rgba(0, 0, 0, 0.1);
}
.container .list-container .unlink-items:hover {
  background: #FFFFFF;
}
.container .list-container .topic-fix {
  font-size: 0.6em;
  padding: 1% 0% !important;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid #EEEEEE;
}
.container .list-container .topic-fix:hover {
  color: rgba(0, 0, 0, 0.4);
}
.loading-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  float: left;
  display: inline-block;
  background: rgba(255, 255, 255, 0.95);
  display: none;
}
.loading-box .dialog {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20%;
}
.loading-box .dialog .icon {
  font-size: 4em;
  margin-bottom: 3%;
  color: #003399;
}
.loading-box .dialog p {
  font-size: 1em;
  line-height: 1.5em;
  color: #999999;
}
.dialog-box {
  width: 100%;
  margin-top: 20%;
  float: left;
  display: inline-block;
  text-align: center;
}
.dialog-box .icon {
  color: #003399;
  font-size: 3em;
  margin-bottom: 2%;
}
.dialog-box p {
  font-size: 1em;
  line-height: 1.5em;
  color: #999999;
}
/* Other Device and Screen */
@media only screen and (min-width: 520px) and (max-width: 759px) {
  .header {
    width: 96%;
    padding: 0% 2%;
    height: 40px;
  }
  .header .logo {
    font-size: 1em;
    padding: 12px 0px;
    height: 16px;
  }
  .header .logo i {
    margin-right: 5px;
  }
  .header .navibar {
    padding: 12px 2%;
    height: 16px;
  }
  .header .navibar i {
    margin-right: 10px;
  }
  .header .profile {
    padding: 12px 1%;
    height: 16px;
    font-size: 0.9em;
  }
  .login-container {
    width: 80%;
    margin: 10%;
  }
  .login-container .logo h1 {
    font-size: 3.5em;
  }
  .login-container .logo .icon {
    font-size: 3em;
    margin-bottom: 5%;
  }
  .login-container .logo p.version {
    font-size: 0.8em;
  }
  .login-container .input {
    width: 70%;
    margin: 15%;
  }
  .login-container .input .input-text {
    width: 94%;
    padding: 3%;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 5%;
  }
  .login-container .input .login-btn {
    width: 45%;
    padding: 3% 0%;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .login-container .input .login-btn i {
    margin-left: 10px;
  }
  .container {
    margin-top: 40px;
    min-height: 500px;
  }
  .container .head {
    width: 96%;
    padding: 0% 2%;
  }
  .container .head .head-title {
    width: 100%;
    padding: 5% 0%;
    float: left;
    display: inline-block;
    color: #000000;
    text-align: center;
  }
  .container .head .head-title h2 {
    font-size: 0.9em;
    font-weight: normal;
  }
  .container .head .head-title h1 {
    font-size: 3em;
    color: #000000;
    line-height: 1.2em;
  }
  .container .head .head-title p {
    font-size: 0.9em;
    line-height: 1.3em;
    color: #555555;
  }
  .container .head .head-title a {
    color: #003399;
  }
  .container .head .head-title a:hover {
    text-decoration: underline;
  }
  .container .head .head-title a i {
    margin-left: 5px;
  }
  .container .head .head-title .btn {
    width: 100%;
    float: left;
    display: inline-block;
    margin-top: 5%;
  }
  .container .head .head-title .btn a.btn-create {
    background: #4CAF50;
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 3px;
    font-weight: bold;
  }
  .container .head .head-title .btn a.btn-create:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.7;
  }
  .container .head .head-title .btn a.btn-create i {
    margin-left: 10px;
    font-size: 0.8em;
  }
  .container .operation-form-container {
    width: 60%;
    margin: 2% 20%;
    float: left;
    display: inline-block;
    background: #FFFFFF;
  }
  .container .operation-form-container .heads {
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 3%;
  }
  .container .operation-form-container .heads h3 {
    font-size: 2em;
  }
  .container .operation-form-container .heads p {
    font-size: 1em;
    line-height: 1.5em;
  }
  .container .operation-form-container .operation-items {
    width: 100%;
    float: left;
    display: inline-block;
    line-height: 3em;
    font-size: 1em;
    border-bottom: 1px solid #FAFAFA;
  }
  .container .operation-form-container .operation-items .col1 {
    width: 40%;
    float: left;
    display: inline-block;
  }
  .container .operation-form-container .operation-items .col2 {
    width: 8%;
    padding: 0% 1%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .operation-form-container .operation-items .col3 {
    width: 8%;
    padding: 0% 1%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .operation-form-container .operation-items .col4 {
    width: 8%;
    padding: 0% 1%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .operation-form-container .operation-items .col5 {
    width: 27%;
    float: left;
    display: inline-block;
    margin-left: 3%;
  }
  .container .operation-form-container .operation-items .input-text {
    width: 100%;
    float: left;
    display: inline-block;
    font-family: sans-serif, 'Open Sans';
    font-size: 1em;
    border: 0px;
    line-height: 3em;
    border-radius: 2px;
    text-align: right;
  }
  .container .operation-form-container .operation-items .input-select {
    width: 100%;
    text-align: left;
    -webkit-appearance: none;
  }
  .container .operation-form-container .topic-fix {
    font-size: 0.7em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
  }
  .container .header-report-form-container {
    width: 60%;
    margin: 2% 20%;
    float: left;
    display: inline-block;
    background: #FFFFFF;
  }
  .container .header-report-form-container .heads {
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 3%;
  }
  .container .header-report-form-container .heads .title {
    float: left;
    display: inline-block;
  }
  .container .header-report-form-container .heads .title h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .container .header-report-form-container .heads .title p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .container .header-report-form-container .heads .date {
    float: right;
    display: inline-block;
  }
  .container .header-report-form-container .heads .date .input-select {
    float: left;
    display: inline-block;
    font-size: 0.9em;
    font-family: sans-serif, 'Open Sans';
    -webkit-appearance: none;
    line-height: 1.5em;
    padding: 5px 8px;
    margin-right: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    text-align: center;
  }
  .container .header-report-form-container .form-section {
    width: 100%;
    padding: 2% 0%;
    float: left;
    display: inline-block;
    border-top: 1px dotted #EEEEEE;
  }
  .container .header-report-form-container .form-section .title {
    width: 30%;
    float: left;
    display: inline-block;
    line-height: 2em;
    font-size: 0.9em;
  }
  .container .header-report-form-container .form-section .input {
    width: 70%;
    float: left;
    display: inline-block;
  }
  .container .header-report-form-container .form-section .input .section-items {
    width: 15%;
    margin-right: 5%;
    float: left;
    display: inline-block;
  }
  .container .header-report-form-container .form-section .input .section-items .caption {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 0.7em;
    color: #555555;
    line-height: 2em;
  }
  .container .header-report-form-container .form-section .input .section-items .input {
    width: 100%;
    float: left;
    display: inline-block;
  }
  .container .header-report-form-container .form-section .input .section-items .input .input-text {
    width: 100%;
    float: left;
    display: inline-block;
    font-family: sans-serif, 'Open Sans';
    font-size: 2em;
    border: 0px;
    border-bottom: 1px solid #FAFAFA;
    line-height: 1.3em;
    border-radius: 2px;
  }
  .container .header-report-form-container .form-section .input .section-items .input .input-select {
    -webkit-appearance: none;
  }
  .container .control-container {
    width: 60%;
    margin: 0% 20%;
    float: left;
    display: inline-block;
  }
  .container .control-container a.btn-back {
    float: left;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.4);
  }
  .container .control-container a.btn-back:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .container .control-container a.btn-back i {
    margin-right: 10px;
  }
  .container .control-container .submit-btn {
    float: right;
    display: inline-block;
    font-size: 0.9em;
    padding: 10px 20px;
    background: #4CAF50;
    color: #FFFFFF;
    border: 0px;
    border-radius: 2px;
    font-weight: bold;
  }
  .container .control-container .submit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .container .control-container .submit-btn i {
    margin-left: 10px;
  }
  .container .list-container {
    width: 100%;
    margin: 0%;
  }
  .container .list-container p.topic {
    width: 96%;
    margin: 0% 2%;
    margin-bottom: 1%;
    line-height: 1.5em;
  }
  .container .list-container .header-report-table {
    width: 100%;
    margin: 0% 2%;
    margin-bottom: 2%;
    line-height: 2em;
    font-size: 0.9em;
  }
  .container .list-container .header-report-table .box1 {
    width: 45%;
    float: left;
    display: inline-block;
    text-align: center;
    border: 1px solid #EEEEEE;
    border-right: 0px solid transparent;
    margin-bottom: 1%;
  }
  .container .list-container .header-report-table .box1 .box-topic {
    width: 100%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box1 .col {
    width: 25%;
    float: left;
    display: inline-block;
  }
  .container .list-container .header-report-table .box1 .col .col-caption {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box1 .col .col-val {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box2 {
    width: 50%;
    float: left;
    display: inline-block;
    text-align: center;
    border: 1px solid #EEEEEE;
    border-right: 0px solid transparent;
    margin-bottom: 1%;
  }
  .container .list-container .header-report-table .box2 .box-topic {
    width: 100%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box2 .col {
    width: 20%;
    float: left;
    display: inline-block;
  }
  .container .list-container .header-report-table .box2 .col .col-caption {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box2 .col .col-val {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box3 {
    width: 45%;
    float: left;
    display: inline-block;
    text-align: center;
    border: 1px solid #EEEEEE;
    border-right: 0px solid transparent;
  }
  .container .list-container .header-report-table .box3 .box-topic {
    width: 100%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box3 .col {
    width: 25%;
    float: left;
    display: inline-block;
  }
  .container .list-container .header-report-table .box3 .col .col-caption {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box3 .col .col-val {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box4 {
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
    border: 1px solid #EEEEEE;
    border-right: 0px solid transparent;
  }
  .container .list-container .header-report-table .box4 .box-topic {
    width: 100%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box4 .col {
    width: 50%;
    float: left;
    display: inline-block;
  }
  .container .list-container .header-report-table .box4 .col .col-caption {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box4 .col .col-val {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box5 {
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
    border: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box5 .box-topic {
    width: 100%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box5 .col {
    width: 50%;
    float: left;
    display: inline-block;
  }
  .container .list-container .header-report-table .box5 .col .col-caption {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .container .list-container .header-report-table .box5 .col .col-val {
    width: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .caliber-in-report-items {
    width: 91%;
    padding: 2%;
    margin: 0% 2%;
    margin-bottom: 2%;
  }
  .container .list-container .caliber-in-report-items .info {
    width: 100%;
    float: left;
    display: inline-block;
  }
  .container .list-container .caliber-in-report-items .info .name {
    width: 50%;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
  }
  .container .list-container .caliber-in-report-items .info .control {
    width: 50%;
    float: left;
    display: inline-block;
  }
  .container .list-container .caliber-in-report-items .info .control a.btn {
    float: right;
    display: inline-block;
    background: #EEEEEE;
    color: #AAAAAA;
    margin-left: 5px;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 3px;
  }
  .container .list-container .caliber-in-report-items .info .description {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .container .list-container .caliber-in-report-items .operations {
    width: 100%;
    float: left;
    display: inline-block;
    background: #FAFAFA;
    border-radius: 3px;
    margin-top: 2%;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items {
    width: 100%;
    padding: 1% 0%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
    font-size: 0.9em;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items:last-child {
    border-bottom: 0px;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col1 {
    width: 47%;
    padding: 0% 1%;
    float: left;
    display: inline-block;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col2 {
    width: 12%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col3 {
    width: 12%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col4 {
    width: 12%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col5 {
    width: 13%;
    padding: 0% 1%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col6 {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: right;
    font-size: 0.8em;
    line-height: 1.5em;
    display: none;
  }
  .container .list-container .caliber-in-report-items .operations .topic-fix {
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.6em;
  }
  .container .list-container .caliber-in-report-items .operations .topic-fix:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .container .list-container .empty-items {
    width: 100%;
    padding: 5% 0%;
    float: left;
    display: inline-block;
    font-size: 1em;
    color: #CCCCCC;
    text-align: center;
  }
  .container .list-container .report-header-items {
    width: 100%;
    padding: 3% 0%;
    line-height: 1.5em;
    font-size: 0.9em;
  }
  .container .list-container .report-header-items .mini {
    font-size: 0.5em;
  }
  .container .list-container .report-header-items .col1 {
    width: 16%;
    padding: 0% 2%;
  }
  .container .list-container .report-header-items .col2 {
    width: 6%;
  }
  .container .list-container .report-header-items .col3 {
    width: 13%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .list-container .report-header-items .col4 {
    width: 13%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .list-container .report-header-items .col5 {
    width: 10%;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .container .list-container .report-header-items .col6 {
    width: 16%;
    margin-left: 4%;
    float: left;
    display: inline-block;
  }
  .container .list-container .report-header-items .col7 {
    width: 16%;
    padding-right: 2%;
    float: left;
    display: inline-block;
  }
  .container .list-container .report-header-items .col7 i {
    float: right;
    line-height: 1.5em;
  }
  .container .list-container .report-caliber-detail-items {
    width: 60%;
    padding: 0% 20%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
    font-size: 0.9em;
    line-height: 2.5em;
  }
  .container .list-container .report-caliber-detail-items:hover {
    background: #FAFAFA;
  }
  .container .list-container .report-caliber-detail-items .col1 {
    width: 20%;
    float: left;
    display: inline-block;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .report-caliber-detail-items .col2 {
    width: 10%;
    float: left;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .report-caliber-detail-items .col3 {
    width: 10%;
    float: left;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .report-caliber-detail-items .col4 {
    width: 20%;
    float: left;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .report-caliber-detail-items .col5 {
    width: 20%;
    float: left;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .report-caliber-detail-items .col6 {
    width: 20%;
    padding-right: 1%;
    float: left;
    display: inline-block;
    text-align: right;
    border-right: 1px solid #EEEEEE;
  }
  .container .list-container .caliber-choose-items {
    width: 96%;
    padding: 2%;
    line-height: 2em;
    font-size: 1em;
  }
  .container .list-container .caliber-choose-items i {
    float: right;
    font-size: 1em;
    line-height: 1.5em;
  }
  .container .list-container .topic-fix {
    font-size: 0.6em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #EEEEEE;
  }
  .container .list-container .topic-fix:hover {
    color: rgba(0, 0, 0, 0.4);
  }
  .loading-box .dialog {
    margin-top: 35%;
  }
  .loading-box .dialog .icon {
    font-size: 4em;
    margin-bottom: 3%;
  }
  .loading-box .dialog p {
    font-size: 1em;
    line-height: 1.5em;
  }
  .dialog-box {
    width: 100%;
    margin-top: 35%;
  }
  .dialog-box .icon {
    font-size: 4em;
    margin-bottom: 3%;
  }
  .dialog-box p {
    font-size: 1em;
    line-height: 1.5em;
  }
}
