@import url(https://fonts.googleapis.com/css?family=Roboto);
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 60%;
  padding: 0% 20%;
  height: 60px;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  z-index: 99;
  border-bottom: 1px solid #EEEEEE;
}
.header .header-items {
  padding: 23px 0%;
  height: 14px;
  float: left;
  display: inline-block;
  margin-right: 2%;
  color: #AAAAAA;
  font-size: 1em;
}
.header .header-items:hover {
  cursor: pointer;
  color: #555555;
}
.header .header-items-active {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
.header .create-btn {
  float: right;
  color: #4CAF50;
}
.header .create-btn i {
  margin-right: 5px;
}
.header .profile {
  float: right;
}
.login-container {
  width: 30%;
  margin: 0% 35%;
  float: left;
  display: inline-block;
  margin-top: 10%;
  text-align: center;
}
.login-container .logo {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
}
.login-container .logo h1 {
  font-size: 3.5em;
}
.login-container .logo .icon {
  font-size: 3em;
  margin-bottom: 5%;
  color: #003399;
}
.login-container .logo p.version {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.3);
}
.login-container .input {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 20%;
}
.login-container .input .input-text {
  width: 96%;
  padding: 2%;
  float: left;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #003399;
  margin-bottom: 3%;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
}
.login-container .input .input-text:focus {
  border: 1px solid #CCCCCC;
}
.login-container .input .login-btn {
  width: 30%;
  padding: 2% 0%;
  float: right;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  border: 0px;
  text-align: center;
  background: #003399;
  color: #FFFFFF;
  border-radius: 3px;
}
.login-container .input .login-btn i {
  margin-left: 10px;
}
.login-container .input .login-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.container {
  width: 100%;
  margin-top: 60px;
  min-height: 500px;
  float: left;
  display: inline-block;
}
.container .head {
  width: 60%;
  padding: 0% 20%;
  float: left;
  display: inline-block;
}
.container .head .head-title {
  width: 100%;
  padding: 5% 0%;
  padding-bottom: 6%;
  float: left;
  display: inline-block;
}
.container .head .head-title h2 {
  font-size: 1em;
  font-weight: normal;
}
.container .head .head-title h1 {
  font-size: 2em;
  color: #000000;
  line-height: 1.2em;
}
.container .head .head-title h1.date {
  font-size: 4em;
  color: rgba(0, 0, 0, 0.8);
}
.container .head .head-title p {
  font-size: 1em;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.4);
}
.container .head .head-title .btn {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 4%;
}
.container .head .head-title .btn a.btn-create {
  background: #4CAF50;
  padding: 10px 15px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
.container .head .head-title .btn a.btn-create:hover {
  cursor: pointer;
  background: #43A047;
}
.container .head .head-title .btn a.btn-create:active {
  background: #2E7D32;
}
.container .graph-report {
  width: 90%;
  margin: 3% 5%;
  float: left;
  display: inline-block;
}
.container .graph-report h2 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
}
.container .graph-report .graph {
  width: 97.5%;
  margin-left: 2.5%;
  float: left;
  display: inline-block;
  background: #DADADA;
}
.container .graph-report .report-yield-table {
  width: 99%;
  margin: 3% 0%;
  margin-right: 1%;
  float: left;
  display: inline-block;
  line-height: 3em;
  font-size: 0.6em;
  margin-bottom: 10%;
  border-top: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.container .graph-report .report-yield-table .caption-col {
  width: 8%;
  float: left;
  display: inline-block;
  font-weight: bold;
}
.container .graph-report .report-yield-table .caption-col .row {
  width: 90%;
  padding-left: 10%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.container .graph-report .report-yield-table .data-items {
  width: 2.965%;
  float: left;
  display: inline-block;
}
.container .graph-report .report-yield-table .data-items .v {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  text-align: center;
}
.container .graph-report .report-yield-table .data-items .date {
  font-weight: bold;
  background: #FAFAFA;
}
.container .graph-report .report-yield-table .data-items .highlight {
  color: #003399;
  font-weight: bold;
}
.container .graph-report .report-yield-table .data-items .zero {
  color: #EEEEEE;
}
.container .graph-report .report-yield-table .data-items:last-child .v {
  border-right: 1px solid #EEEEEE;
}
.container .operation-form-container {
  width: 58%;
  padding: 1%;
  margin: 0% 20%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: 0px;
}
.container .operation-form-container .heads {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.container .operation-form-container .heads h3 {
  font-size: 2em;
}
.container .operation-form-container .heads p {
  font-size: 1em;
  line-height: 1.5em;
}
.container .operation-form-container .operation-items {
  width: 100%;
  float: left;
  display: inline-block;
  line-height: 3em;
  font-size: 1em;
  border-top: 1px dotted #DDDDDD;
}
.container .operation-form-container .operation-items .col1 {
  width: 40%;
  float: left;
  display: inline-block;
}
.container .operation-form-container .operation-items .col2 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .operation-form-container .operation-items .col3 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .operation-form-container .operation-items .col4 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .operation-form-container .operation-items .col5 {
  width: 27%;
  float: left;
  display: inline-block;
  margin-left: 3%;
}
.container .operation-form-container .operation-items .input-text {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border: 0px;
  line-height: 3em;
  border-radius: 2px;
  text-align: right;
  background: #FFFFFF;
}
.container .operation-form-container .operation-items .input-select {
  width: 100%;
  text-align: left;
  -webkit-appearance: none;
}
.container .operation-form-container .topic-fix {
  font-size: 0.7em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
}
.container .header-report-form-container {
  width: 58%;
  padding: 1%;
  margin: 0% 20%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: 0px;
}
.container .header-report-form-container .heads {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.container .header-report-form-container .heads .title {
  float: left;
  display: inline-block;
}
.container .header-report-form-container .heads .title h1 {
  font-size: 1.5em;
  font-weight: bold;
}
.container .header-report-form-container .heads .title p {
  font-size: 0.9em;
  line-height: 1.5em;
}
.container .header-report-form-container .heads .date {
  float: right;
  display: inline-block;
}
.container .header-report-form-container .heads .date .input-select {
  float: left;
  display: inline-block;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  line-height: 1.5em;
  padding: 5px 8px;
  margin-left: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  text-align: center;
  background: #FFFFFF;
}
.container .header-report-form-container .form-section {
  width: 100%;
  padding: 2% 0%;
  float: left;
  display: inline-block;
  border-top: 1px dotted #DDDDDD;
}
.container .header-report-form-container .form-section .title {
  width: 30%;
  float: left;
  display: inline-block;
  line-height: 2em;
  font-size: 0.9em;
}
.container .header-report-form-container .form-section .input {
  width: 70%;
  float: left;
  display: inline-block;
}
.container .header-report-form-container .form-section .input .section-items {
  width: 15%;
  margin-right: 5%;
  float: left;
  display: inline-block;
}
.container .header-report-form-container .form-section .input .section-items .caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.7em;
  color: #555555;
  line-height: 1em;
  margin-left: 3%;
}
.container .header-report-form-container .form-section .input .section-items .input {
  width: 100%;
  float: left;
  display: inline-block;
}
.container .header-report-form-container .form-section .input .section-items .input .input-text {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  line-height: 1em;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 5% 0%;
}
.container .header-report-form-container .form-section .input .section-items .input .input-select {
  border: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 0% 5%;
  -webkit-appearance: none;
}
.container .control-container {
  width: 60%;
  margin: 1% 20%;
  float: left;
  display: inline-block;
}
.container .control-container .delete-btn {
  float: left;
  display: inline-block;
  font-size: 1em;
  padding: 10px 0px;
  color: #AAAAAA;
}
.container .control-container .delete-btn:hover {
  cursor: pointer;
  background: #CCCCCC;
  color: #555555;
}
.container .control-container .delete-btn:active {
  background: #BBBBBB;
  color: #333333;
}
.container .control-container .submit-btn {
  float: right;
  display: inline-block;
  font-size: 1em;
  padding: 10px 20px;
  background: #4CAF50;
  color: #FFFFFF;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.container .control-container .submit-btn:hover {
  background: #43A047;
  cursor: pointer;
}
.container .control-container .submit-btn:active {
  background: #2E7D32;
}
.container .list-container {
  width: 60%;
  margin: 0% 20%;
  float: left;
  display: inline-block;
}
.container .list-container .topic-container {
  width: 100%;
  float: left;
  display: inline-block;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid #EEEEEE;
}
.container .list-container .topic-container .title {
  width: 70%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
}
.container .list-container .topic-container .control {
  width: 30%;
  float: right;
  display: inline-block;
}
.container .list-container .topic-container .control a.edit-btn,
.container .list-container .topic-container .control a.create-btn {
  float: right;
  display: inline-block;
  background: rgba(0, 0, 0, 0.05);
  padding: 8px 20px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.container .list-container .topic-container .control a.edit-btn i,
.container .list-container .topic-container .control a.create-btn i {
  margin-left: 10px;
}
.container .list-container .topic-container .control a.create-btn {
  background: #4CAF50;
  color: #FFFFFF;
}
.container .list-container .topic-container .control a.create-btn i {
  margin-left: 0px;
  margin-right: 10px;
}
.container .list-container .starter-container {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  text-align: center;
}
.container .list-container .starter-container a.create-btn {
  background: #4CAF50;
  color: #FFFFFF;
  padding: 8px 20px;
  font-size: 0.9em;
  border-radius: 20px;
}
.container .list-container .starter-container a.create-btn i {
  margin-right: 10px;
}
.container .list-container .report-stat {
  width: 100%;
  float: left;
  display: inline-block;
}
.container .list-container .report-stat .stat-items {
  width: 20.25%;
  padding: 2%;
  margin-right: 1%;
  margin-bottom: 1%;
  border-radius: 2px;
  float: left;
  display: inline-block;
  background: #FFFFFF;
}
.container .list-container .report-stat .stat-items .v {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .report-stat .stat-items .k {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}
.container .list-container .report-stat .stat-items:last-child {
  float: right;
  margin-right: 0%;
}
.container .list-container .header-report-table {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 3%;
}
.container .list-container .header-report-table .box1 {
  width: 45.5%;
  padding: 2%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  margin-right: 1%;
  margin-bottom: 1%;
}
.container .list-container .header-report-table .box1 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
}
.container .list-container .header-report-table .box1 .col {
  width: 25%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .header-report-table .box1 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
}
.container .list-container .header-report-table .box1 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.8em;
}
.container .list-container .header-report-table .box2 {
  width: 45.5%;
  padding: 2%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  margin-bottom: 1%;
}
.container .list-container .header-report-table .box2 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
}
.container .list-container .header-report-table .box2 .col {
  width: 20%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .header-report-table .box2 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
}
.container .list-container .header-report-table .box2 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.8em;
}
.container .list-container .header-report-table .box3 {
  width: 45.5%;
  padding: 2%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  margin-right: 1%;
  margin-bottom: 2%;
}
.container .list-container .header-report-table .box3 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
}
.container .list-container .header-report-table .box3 .col {
  width: 25%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .header-report-table .box3 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
}
.container .list-container .header-report-table .box3 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.8em;
}
.container .list-container .header-report-table .box4 {
  width: 20%;
  padding: 2.2% 2%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
}
.container .list-container .header-report-table .box4 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3%;
}
.container .list-container .header-report-table .box4 .col {
  width: 50%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .header-report-table .box4 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
}
.container .list-container .header-report-table .box4 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.8em;
}
.container .list-container .header-report-table .box5 {
  width: 20.5%;
  padding: 2.2% 2%;
  float: right;
  display: inline-block;
  background: #FFFFFF;
}
.container .list-container .header-report-table .box5 .box-topic {
  width: 100%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3%;
}
.container .list-container .header-report-table .box5 .col {
  width: 50%;
  float: left;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .header-report-table .box5 .col .col-val {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
}
.container .list-container .header-report-table .box5 .col .col-caption {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.8em;
}
.container .list-container .caliber-in-report-items {
  width: 96%;
  padding: 2%;
  float: left;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 2%;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.container .list-container .caliber-in-report-items .info {
  width: 100%;
  float: left;
  display: inline-block;
}
.container .list-container .caliber-in-report-items .info .name {
  width: 100%;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
.container .list-container .caliber-in-report-items .info .name a {
  float: right;
  display: inline-block;
  color: #003399;
  border: 1px solid #003399;
  padding: 2px 3px;
  padding-top: 3px;
  font-size: 0.7em;
  border-radius: 2px;
  font-weight: normal;
}
.container .list-container .caliber-in-report-items .info .name a:hover {
  cursor: pointer;
  opacity: 0.8;
}
.container .list-container .caliber-in-report-items .info .name a:active {
  color: #FFFFFF;
  background: #003399;
}
.container .list-container .caliber-in-report-items .info .description {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}
.container .list-container .caliber-in-report-items .operations {
  width: 100%;
  float: left;
  display: inline-block;
  border-radius: 3px;
  margin-top: 2%;
  border: 1px solid #EEEEEE;
}
.container .list-container .caliber-in-report-items .operations .operation-items {
  width: 100%;
  padding: 1% 0%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
  font-size: 0.9em;
}
.container .list-container .caliber-in-report-items .operations .operation-items:last-child {
  border-bottom: 0px;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col1 {
  width: 47%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col2 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col3 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col4 {
  width: 12%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col5 {
  width: 13%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .caliber-in-report-items .operations .operation-items .col6 {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: right;
  font-size: 0.8em;
  line-height: 1.5em;
  display: none;
}
.container .list-container .caliber-in-report-items .operations .topic-fix {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.6em;
  background: #FAFAFA;
}
.container .list-container .caliber-in-report-items .operations .topic-fix:hover {
  color: rgba(0, 0, 0, 0.6);
}
.container .list-container .empty-items {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
  font-size: 1em;
  color: #CCCCCC;
  text-align: center;
}
.container .list-container .report-caliber-detail-items {
  width: 60%;
  padding: 0% 20%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
  font-size: 0.9em;
  line-height: 2.5em;
}
.container .list-container .report-caliber-detail-items:hover {
  background: #FAFAFA;
}
.container .list-container .report-caliber-detail-items .col1 {
  width: 20%;
  float: left;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col2 {
  width: 10%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col3 {
  width: 10%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col4 {
  width: 20%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col5 {
  width: 20%;
  float: left;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .report-caliber-detail-items .col6 {
  width: 20%;
  padding-right: 1%;
  float: left;
  display: inline-block;
  text-align: right;
  border-right: 1px solid #EEEEEE;
}
.container .list-container .caliber-choose-items {
  width: 100%;
  padding: 2% 0%;
  line-height: 1.5em;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #DDDDDD;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  background: #FFFFFF;
}
.container .list-container .caliber-choose-items:last-child {
  border-bottom: 0px solid transparent;
}
.container .list-container .caliber-choose-items strong {
  color: #000000;
}
.container .list-container .caliber-choose-items:hover {
  cursor: pointer;
  background: #FAFAFA;
}
.container .list-container .caliber-choose-items .ttl_operation {
  font-style: italic;
}
.container .list-container .caliber-choose-items i {
  float: right;
  font-size: 1em;
  line-height: 1.5em;
}
.container .list-container .unlink-items {
  color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #EEEEEE;
  background: #FAFAFA;
}
.container .list-container .unlink-items strong {
  color: rgba(0, 0, 0, 0.2);
}
.container .list-container .unlink-items:hover {
  background: #FAFAFA;
}
.container .list-container .report-header-items {
  width: 100%;
  padding: 1.5% 0%;
  float: left;
  display: inline-block;
  line-height: 1.5em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
  background: #FFFFFF;
  border-top: 1px solid #EEEEEE;
}
.container .list-container .report-header-items:hover {
  cursor: pointer;
  background: #FAFAFA;
}
.container .list-container .report-header-items .col1 {
  width: 20%;
  float: left;
  display: inline-block;
}
.container .list-container .report-header-items .col1 i {
  margin-right: 5px;
}
.container .list-container .report-header-items .col2 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: center;
}
.container .list-container .report-header-items .col3 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .report-header-items .col4 {
  width: 8%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .report-header-items .col5 {
  width: 18%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
  text-align: right;
}
.container .list-container .report-header-items .col6 {
  width: 28%;
  padding: 0% 1%;
  float: left;
  display: inline-block;
}
.container .list-container .report-header-items .col6 i {
  float: right;
}
.container .list-container .last-items {
  font-weight: bold;
  color: #003399;
}
.container .list-container .not_owner {
  background: #F5F5F5;
  color: rgba(0, 0, 0, 0.3);
}
.container .list-container .header-topic-fix {
  font-size: 0.6em;
  padding: 1% 0%;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}
.container .list-container .header-topic-fix:hover {
  color: rgba(0, 0, 0, 0.2);
}
.loading-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  float: left;
  display: inline-block;
  background: rgba(255, 255, 255, 0.95);
  display: none;
}
.loading-box .dialog {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20%;
}
.loading-box .dialog .icon {
  font-size: 4em;
  margin-bottom: 3%;
  color: #003399;
}
.loading-box .dialog p {
  font-size: 1em;
  line-height: 1.5em;
  color: #999999;
}
.dialog-box {
  width: 100%;
  margin-top: 20%;
  float: left;
  display: inline-block;
  text-align: center;
}
.dialog-box .icon {
  color: #003399;
  font-size: 3em;
  margin-bottom: 2%;
}
.dialog-box p {
  font-size: 1em;
  line-height: 1.5em;
  color: #999999;
}
.error-container {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  padding-top: 18%;
}
.error-container .icon {
  font-size: 4em;
  margin-bottom: 2%;
}
.error-container h1 {
  font-size: 2em;
  line-height: 1.5em;
}
.error-container p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 5%;
}
.error-container a {
  background: #003399;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 2px;
  font-size: 0.9em;
}
fon .error-container a:hover {
  opacity: 0.8;
}
/* Other Device and Screen */
@media only screen and (min-width: 520px) and (max-width: 759px) {
  .header {
    width: 100%;
    padding: 0%;
    height: 50px;
  }
  .header .logo {
    font-size: 1em;
    padding: 17px 2%;
    padding-right: 1%;
    height: 16px;
  }
  .header .logo i {
    margin-right: 5px;
  }
  .header .navibar {
    padding: 17px 0%;
    margin-left: 1%;
    height: 14px;
  }
  .header .navibar:hover {
    border-bottom: 2px solid #FFFFFF;
  }
  .header .navibar i {
    margin-right: 5px;
  }
  .header .profile {
    padding: 17px 2%;
    height: 16px;
    font-size: 0.9em;
  }
  .header .profile i {
    margin-right: 5px;
  }
  .login-container {
    width: 80%;
    margin: 10%;
  }
  .login-container .logo h1 {
    font-size: 3.5em;
  }
  .login-container .logo .icon {
    font-size: 3em;
    margin-bottom: 5%;
  }
  .login-container .logo p.version {
    font-size: 1em;
  }
  .login-container .input {
    width: 60%;
    margin: 20%;
  }
  .login-container .input .input-text {
    width: 94%;
    padding: 3%;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 5%;
  }
  .login-container .input .login-btn {
    width: 100%;
    padding: 3%;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .container {
    min-height: 300px;
    margin-top: 50px;
  }
  .container .head {
    width: 96%;
    padding: 0% 2%;
  }
  .container .head .head-title {
    padding: 5% 0%;
    padding-bottom: 6%;
  }
  .container .head .head-title h2 {
    font-size: 1em;
  }
  .container .head .head-title h1 {
    font-size: 2em;
    line-height: 1.2em;
  }
  .container .head .head-title h1.date {
    font-size: 4em;
  }
  .container .head .head-title p {
    font-size: 1em;
    line-height: 1.3em;
  }
  .container .head .head-title .btn {
    margin-top: 4%;
  }
  .container .head .head-title .btn a.btn-create {
    padding: 10px 15px;
  }
  .container .operation-form-container {
    width: 96%;
    padding: 2%;
    margin: 0%;
    border: 0px;
  }
  .container .operation-form-container .heads {
    margin: 5% 0%;
  }
  .container .operation-form-container .heads h3 {
    font-size: 2em;
  }
  .container .operation-form-container .heads p {
    font-size: 1em;
    line-height: 1.5em;
  }
  .container .operation-form-container .operation-items {
    line-height: 3em;
    font-size: 1em;
    border-top: 1px dotted #DDDDDD;
  }
  .container .operation-form-container .operation-items .col1 {
    width: 44%;
  }
  .container .operation-form-container .operation-items .col2 {
    width: 10%;
    padding: 0% 1%;
  }
  .container .operation-form-container .operation-items .col3 {
    width: 10%;
    padding: 0% 1%;
  }
  .container .operation-form-container .operation-items .col4 {
    width: 10%;
    padding: 0% 1%;
  }
  .container .operation-form-container .operation-items .col5 {
    width: 15%;
    margin-left: 5%;
  }
  .container .operation-form-container .operation-items .input-text {
    font-size: 1em;
    line-height: 3em;
  }
  .container .operation-form-container .topic-fix {
    font-size: 0.7em;
  }
  .container .header-report-form-container {
    width: 96%;
    padding: 2%;
    margin: 0%;
    border: 0px;
  }
  .container .header-report-form-container .heads {
    margin-bottom: 3%;
  }
  .container .header-report-form-container .heads .title h1 {
    font-size: 1.5em;
  }
  .container .header-report-form-container .heads .title p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .container .header-report-form-container .heads .date .input-select {
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 5px 8px;
    margin-left: 5px;
  }
  .container .header-report-form-container .form-section {
    padding: 2% 0%;
  }
  .container .header-report-form-container .form-section .title {
    width: 100%;
    line-height: 2em;
    font-size: 1em;
  }
  .container .header-report-form-container .form-section .input {
    width: 100%;
  }
  .container .header-report-form-container .form-section .input .section-items {
    width: 19%;
    margin-right: 1%;
  }
  .container .header-report-form-container .form-section .input .section-items .caption {
    font-size: 0.8em;
    line-height: 1em;
  }
  .container .header-report-form-container .form-section .input .section-items .input .input-text {
    font-size: 2em;
    line-height: 1em;
  }
  .container .header-report-form-container .form-section .input .section-items .input .input-select {
    padding: 0% 10%;
  }
  .container .control-container {
    width: 96%;
    margin: 2%;
  }
  .container .control-container .delete-btn {
    font-size: 1.2em;
    padding: 12px 0px;
  }
  .container .control-container .submit-btn {
    font-size: 1.2em;
    padding: 12px 20px;
  }
  .container .list-container {
    width: 100%;
    margin: 0%;
  }
  .container .list-container p.topic {
    width: 96%;
    margin: 0% 2%;
    margin-bottom: 2%;
  }
  .container .list-container .report-stat {
    width: 96%;
    padding: 0% 2%;
  }
  .container .list-container .report-stat .stat-items {
    width: 20.25%;
    padding: 4% 2%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .container .list-container .report-stat .stat-items .v {
    font-size: 1.7em;
  }
  .container .list-container .report-stat .stat-items .k {
    font-size: 0.9em;
  }
  .container .list-container .header-report-table {
    width: 96%;
    margin: 0% 2%;
    font-size: 0.9em;
    margin-bottom: 3%;
  }
  .container .list-container .caliber-in-report-items {
    width: 92%;
    padding: 2%;
    margin: 0% 2%;
    margin-bottom: 2%;
  }
  .container .list-container .caliber-in-report-items .info .name {
    font-size: 1.2em;
  }
  .container .list-container .caliber-in-report-items .info .name a {
    padding: 2px 3px;
    padding-top: 3px;
    font-size: 0.7em;
  }
  .container .list-container .caliber-in-report-items .info .description {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .container .list-container .caliber-in-report-items .operations {
    margin-top: 2%;
    border: 1px solid #EEEEEE;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items {
    padding: 1.5% 0%;
    font-size: 1em;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col1 {
    width: 38%;
    padding: 0% 2%;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col2 {
    width: 14%;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col3 {
    width: 14%;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col4 {
    width: 14%;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col5 {
    width: 14%;
    padding: 0%;
    padding-right: 2%;
  }
  .container .list-container .caliber-in-report-items .operations .operation-items .col6 {
    width: 100%;
    float: left;
    display: inline-block;
    text-align: right;
    font-size: 0.8em;
    line-height: 1.5em;
    display: none;
  }
  .container .list-container .caliber-in-report-items .operations .topic-fix {
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.6em;
    background: #FAFAFA;
  }
  .container .list-container .caliber-in-report-items .operations .topic-fix:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .container .list-container .empty-items {
    padding: 10% 0%;
    font-size: 1.2em;
  }
  .container .list-container .caliber-choose-items {
    width: 96%;
    padding: 3% 2%;
    line-height: 1.5em;
    font-size: 1em;
  }
  .container .list-container .caliber-choose-items i {
    font-size: 1em;
    line-height: 1.5em;
  }
  .container .list-container .report-header-items {
    padding: 4% 0%;
    font-size: 1em;
  }
  .container .list-container .report-header-items .col1 {
    width: 21%;
    padding: 0% 2%;
  }
  .container .list-container .report-header-items .col2 {
    width: 8%;
    padding: 0% 1%;
  }
  .container .list-container .report-header-items .col3 {
    width: 8%;
    padding: 0% 1%;
  }
  .container .list-container .report-header-items .col4 {
    width: 8%;
    padding: 0% 1%;
  }
  .container .list-container .report-header-items .col5 {
    width: 16%;
    padding: 0% 2%;
  }
  .container .list-container .report-header-items .col6 {
    width: 21%;
    padding: 0% 2%;
  }
  .container .list-container .header-topic-fix {
    font-size: 0.6em;
    padding: 2% 0%;
  }
  .loading-box .dialog {
    margin-top: 45%;
  }
  .loading-box .dialog .icon {
    font-size: 4em;
    margin-bottom: 3%;
  }
  .loading-box .dialog p {
    font-size: 1em;
    line-height: 1.5em;
  }
  .dialog-box {
    margin-top: 45%;
  }
  .dialog-box .icon {
    font-size: 4em;
    margin-bottom: 3%;
  }
  .dialog-box p {
    font-size: 1em;
    line-height: 1.5em;
  }
}
