@import "default";

// Loading dialog and animate
.loading-box{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: inline-block;
	background: rgba(255, 255, 255, 0.9);
	display: none;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 20%;
		font-size: 1em;
		line-height: 1.5em;
		color: @normal_textcolor;
		font-style: italic;
	}
}

// Logout page style
.dialog-box{
	width: 100%;
	float: left;
	display: inline-block;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 25%;
		font-size: 1em;
		line-height: 1.5em;
		color: @normal_textcolor;
		font-style: italic;

		i{
			margin-right: 10px;
		}
	}
}

// Error page style
.error-container{
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;
	padding-top: 18%;

	.icon{
		font-size: 3em;
		margin-bottom: 1%;
		color: @light_textcolor;
	}
	p{
		font-size: 1.2em;
		line-height: 1.5em;
		margin-bottom: 10%;
		color: @normal_textcolor;
		font-style: italic;
	}

	a{
		background: @primary_color;
		color: @white_color;
		padding: 10px 20px;
		border-radius: 3px;
		font-size: 1em;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.3);

		&:hover{ opacity: 0.8; }

		i{
			margin-left: 10px;
		}
	}
}

// Login page style
.login-container{
	width: 22%;
	margin: 0% 39%;
	float: left;
	display: inline-block;
	margin-top: 10%;
	text-align: center;

	.logo{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;

		h1{
			font-size: 3.5em;
			margin-bottom: 2%;
			color: #111111;
		}

		p.version{
			font-size: 0.8em;
			color: #999999;
		}

		strong{ color: @primary_color; }
	}

	.input{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: 20%;
		margin-bottom: 10%;

		.input-text{
			width: 88%;
			padding: 6%;
			float: left;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1.1em;
			line-height: 1.3em;
			border: 0px;
			color: #000000;
			margin-bottom: 5%;
			border-radius: 3px;

			&:focus{ box-shadow: 1px 1px 20px rgba(0,0,0,0.2); }
		}
	}

	.submit{
		width: 100%;
		float: left;
		display: inline-block;

		.login-btn{
			width: 100%;
			padding: 5% 0%;
			float: right;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1.1em;
			line-height: 1em;
			border: 0px;
			text-align: center;
			background: @primary_color;
			color: @white_color;
			outline: 0;
			border-radius: 3px;
			box-shadow: 1px 1px 10px rgba(0,0,0,0.1);

			i{ margin-left: 10px; }

			&:hover{
				cursor: pointer;
				box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
			}
		}

		.login-btn-loading{
			background: transparent;;
			color: @primary_color;
			box-shadow: none;
		}
	}
}
// END login page style

/* Other Device and Screen */
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}
