// Header bar style
.header{
	width: 100%;
	padding: 0%;
	height: 50px;

	.logo{
		font-size: 1em;
		padding: 17px 2%;
		padding-right: 1%;
		height: 16px;
		i{ margin-right: 5px; }
	}

	.navibar{
		padding: 17px 0%;
		margin-left: 1%;
		height: 14px;
		&:hover{ border-bottom: 2px solid #FFFFFF; }
		i{ margin-right: 5px; }
	}
	.profile{
		padding: 17px 2%;
		height: 16px;
		font-size: 0.9em;

		i{
			margin-right: 5px;
		}
	}
}

// Login page style
.login-container{
	width: 80%;
	margin: 10%;

	.logo{

		h1{ font-size: 3.5em; }
		.icon{
			font-size: 3em;
			margin-bottom: 5%;
		}
		p.version{ font-size: 1em; }
	}

	.input{
		width: 60%;
		margin: 20%;

		.input-text{
			width: 94%;
			padding: 3%;
			font-size: 1.5em;
			line-height: 1.5em;
			margin-bottom: 5%;
		}

		.login-btn{
			width: 100%;
			padding: 3%;
			font-size: 1.2em;
			line-height: 1.5em;		}
	}
}
// END login page style


// Container all Page
.container{
	min-height: 300px;
	margin-top: 50px;

	// Head page
	.head{
		width: 96%;
		padding: 0% 2%;

		.head-title{
			padding: 5% 0%;
			padding-bottom: 6%;

			h2{ font-size: 1em; }

			h1{
				font-size: 2em;
				line-height: 1.2em;
			}
			h1.date{ font-size: 4em; }

			p{
				font-size: 1em;
				line-height: 1.3em;
			}

			.btn{
				margin-top: 4%;
				a.btn-create{ padding: 10px 15px; }
			}
		}
	}


	// Report detail editor (Add operation to caliber)
	.operation-form-container{
		width: 96%;
		padding: 2%;
		margin: 0%;
		border: 0px;

		.heads{
			margin-bottom: 3%;
			h3{ font-size: 2em; }
			p{
				font-size: 1em;
				line-height: 1.5em;
			}
		}

		.operation-items{
			line-height: 3em;
			font-size: 1em;
			border-top: 1px dotted #DDDDDD;

			.col1{ width: 44%; }
			.col2{
				width: 10%;
				padding: 0% 1%;
			}
			.col3{
				width: 10%;
				padding: 0% 1%;
			}
			.col4{
				width: 10%;
				padding: 0% 1%;
			}
			.col5{
				width: 15%;
				margin-left: 5%;
			}

			.input-text{
				font-size: 1em;
				line-height: 3em;
			}
		}

		.topic-fix{ font-size: 0.7em; }
	}

	// Create Header report
	.header-report-form-container{
		width: 96%;
		padding: 2%;
		margin: 0%;
		border: 0px;

		.heads{
			margin-bottom: 3%;

			.title{

				h1{ font-size: 1.5em; }
				p{
					font-size: 0.9em;
					line-height: 1.5em;
				}
			}
			.date{
				.input-select{
					font-size: 1.3em;
					line-height: 1.5em;
					padding: 5px 8px;
					margin-left: 5px;
				}
			}
		}

		.form-section{
			padding: 2% 0%;

			.title{
				width: 100%;
				line-height: 2em;
				font-size: 1em;
			}
			.input{
				width: 100%;

				.section-items{
					width: 19%;
					margin-right: 1%;

					.caption{
						font-size: 0.8em;
						line-height: 1em;
					}
					.input{
						.input-text{
							font-size: 2em;
							line-height: 1em;
						}

						.input-select{ padding: 0% 10%; }
					}
				}
			}
		}
	}

	// Form control style
	.control-container{
		width: 96%;
		margin: 2%;

		.delete-btn{
			font-size: 1em;
			padding: 15px 0px;
		}

		// Submit button style
		.submit-btn{
			font-size: 1em;
			padding: 15px 20px;
		}
	}

	// List container style
	.list-container{
		width: 100%;
		margin: 0%;

		// Report detail style
		p.topic{
			width: 96%;
			margin: 0% 2%;
			margin-bottom: 2%;
		}

		.report-stat{
			width: 96%;
			padding: 0% 2%;

			.stat-items{
				width: 20.25%;
				padding: 4% 2%;
				margin-right: 1%;
				margin-bottom: 1%;

				.v{
					font-size: 1.7em;
				}
				.k{
					font-size: 0.9em;
				}
			}
		}

		// Header info detail in table-layout
		// Manpower: report detail page
		.header-report-table{
			width: 96%;
			margin: 0% 2%;
			font-size: 0.9em;
			margin-bottom: 3%;
		}
		// END Header info detail in table-layout

		// Caliber items stype
		// Output: Report detail
		.caliber-in-report-items{
			width: 92%;
			padding: 2%;
			margin: 0% 2%;
			margin-bottom: 2%;

			.info{
				.name{
					font-size: 1.2em;

					a{
						padding: 2px 3px;
						padding-top: 3px;
						font-size: 0.7em;
					}
				}

				.description{
					font-size: 0.9em;
					line-height: 1.5em;
				}
			}

			// Opearation box
			.operations{
				margin-top: 2%;
				border: 1px solid #EEEEEE;

				// Operations items style
				.operation-items{
					padding: 1.5% 0%;
					font-size: 1em;

					.col1{
						width: 38%;
						padding: 0% 2%;
					}
					.col2{
						width: 14%;
					}
					.col3{
						width: 14%;
					}
					.col4{
						width: 14%;
					}
					.col5{
						width: 14%;
						padding: 0%;
						padding-right: 2%;
					}
					.col6{
						width: 100%;
						float: left;
						display: inline-block;
						text-align: right;
						font-size: 0.8em;
						line-height: 1.5em;
						display: none;
					}
				}

				.topic-fix{
					font-style: italic;
					color: rgba(0, 0, 0, 0.6);
					font-size: 0.6em;
					background: #FAFAFA;

					&:hover{
						color: rgba(0, 0, 0, 0.6);
					}
				}
			}
		}

		// Empty items style
		.empty-items{
			padding: 10% 0%;
			font-size: 1.2em;
		}

		// Operation items in Report detail by Caliber ID
		// .report-caliber-detail-items{
		// 	width: 60%;
		// 	padding: 0% 20%;
		// 	float: left;
		// 	display: inline-block;
		// 	border-bottom: 1px solid #EEEEEE;
		// 	font-size: 0.9em;
		// 	line-height: 2.5em;

		// 	&:hover{
		// 		background: #FAFAFA;
		// 	}

		// 	.col1{
		// 		width: 20%;
		// 		float: left;
		// 		display: inline-block;
		// 		border-right: 1px solid #EEEEEE;
		// 	}
		// 	.col2{
		// 		width: 10%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid #EEEEEE;
		// 	}
		// 	.col3{
		// 		width: 10%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid #EEEEEE;
		// 	}
		// 	.col4{
		// 		width: 20%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid #EEEEEE;
		// 	}
		// 	.col5{
		// 		width: 20%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid #EEEEEE;
		// 	}
		// 	.col6{
		// 		width: 20%;
		// 		padding-right: 1%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: right;
		// 		border-right: 1px solid #EEEEEE;
		// 	}
		// }

		// 	List all caliber before insert
		.caliber-choose-items{
			width: 96%;
			padding: 3% 2%;
			line-height: 1.5em;
			font-size: 1em;

			i{
				font-size: 1em;
				line-height: 1.5em;
			}
		}

		// Header report items style
		.report-header-items{
			padding: 4% 0%;
			font-size: 1em;

			.col1{
				width: 21%;
				padding: 0% 2%;
				float: left;
				display: inline-block;
			}
			.col2{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: center;
			}
			.col3{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col4{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col5{
				width: 16%;
				padding: 0% 2%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col6{
				width: 21%;
				padding: 0% 2%;
				float: left;
				display: inline-block;

				i{
					float: right;
				}
			}
		}

		.header-topic-fix{
			font-size: 0.6em;
			padding: 2% 0%;
		}
	}
}

// Loading dialog and animate
.loading-box{
	.dialog{
		margin-top: 45%;
		.icon{
			font-size: 4em;
			margin-bottom: 3%;
		}
		p{
			font-size: 1em;
			line-height: 1.5em;
		}
	}
}

// Logout page style
.dialog-box{
	margin-top: 45%;
	.icon{
		font-size: 4em;
		margin-bottom: 3%;
	}
	p{
		font-size: 1em;
		line-height: 1.5em;
	}
}