@import "default";

// Header bar style
.header{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 60%;
	padding: 0% 20%;
	height: 60px;
	float: left;
	display: inline-block;
	background: @white_color;
	z-index: 99;
	border-bottom: 1px solid @border_color;

	.header-items{
		padding: 23px 0%;
		height: 14px;
		float: left;
		display: inline-block;
		margin-right: 2%;
		color: @light_textcolor;
		font-size: 1em;
		background: @white_color;
		border: 0px;

		&:hover{
			cursor: pointer;
			color: @normal_textcolor;
		}
	}
	.header-items-active{
		color: @normal_textcolor;
		font-weight: bold;
		border-bottom: 1px solid @dark_textcolor;
	}

	.back-btn{
		i{ margin-right: 10px; }
	}

	.page-title{
		border-left: 1px solid @border_color;
		padding-left: 2%;
		color: @normal_textcolor;
	}

	.create-btn{
		float: right;
		color: @primary_color;
		margin-right: 0%;
		font-weight: bold;

		i{ margin-right: 5px; }
	}
	.submit-btn{
		float: right;
		color: @green_color;
		margin-right: 0%;
		font-weight: bold;

		i{ margin-right: 5px; }
	}
	.profile{ float: right; }
}

// Login page style
.login-container{
	width: 26%;
	margin: 0% 37%;
	float: left;
	display: inline-block;
	margin-top: 10%;
	text-align: center;

	.logo{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;

		h1{
			font-size: 3em;
			margin-bottom: 3%;
			color: @light_textcolor;
		}

		p.version{
			font-size: 0.9em;
			color: @light_textcolor;
		}
	}

	.input{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: 20%;

		.input-text{
			width: 94%;
			padding: 3%;
			float: left;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1em;
			line-height: 1.5em;
			margin-bottom: 3%;
			border: 1px solid @border_color;

			&:focus{ border: 1px solid @light_textcolor; }
		}

		.login-btn{
			width: 30%;
			padding: 2% 0%;
			float: right;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1em;
			line-height: 1.5em;
			border: 0px;
			text-align: center;
			background: @primary_color;
			color: @white_color;
			font-weight: bold;
			outline: 0;

			i{ margin-left: 10px; }

			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}
// END login page style


// Container all Page
.container{
	width: 100%;
	margin-top: 60px;
	min-height: 500px;
	float: left;
	display: inline-block;

	.message-control{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		font-size: 1em;
		line-height: 1.5em;

		i{
			margin-right: 10px;
		}

		.user-deactive{
			width: 100%;
			padding: 2% 0%;
			float: left;
			display: inline-block;
			color: @red_color;
			background: #FFEBEE;
		}
	}

	// Head page
	.head{
		width: 60%;
		padding: 0% 20%;
		float: left;
		display: inline-block;

		.head-title{
			width: 100%;
			padding: 5% 0%;
			padding-bottom: 6%;
			float: left;
			display: inline-block;

			// h2{
			// 	font-size: 1em;
			// 	font-weight: normal;
			// 	color: @normal_textcolor;
			// }

			h1{
				font-size: 2em;
				color: @normal_textcolor;
				line-height: 1.2em;
			}
			h1.date{
				font-size: 4em;
				color: @normal_textcolor;
			}

			p{
				font-size: 1em;
				line-height: 1.3em;
				color: @light_textcolor;
			}
		}
	}

	.graph-filter{
		width: 60%;
		margin: 0% 20%;
		float: left;
		display: inline-block;
		border-bottom: 1px solid @border_color;

		.filter-items{
			padding: 1% 0%;
			margin-right: 2%;
			float: left;
			display: inline-block;
			margin-bottom: -1px;
			color: rgba(0,0,0,0.4);
			border-bottom: 1px solid transparent;

			&:hover{
				cursor: pointer;
				border-bottom: 1px solid @light_textcolor;
			}
		}

		.filter-items-active{
			color: @dark_textcolor;
			border-bottom: 1px solid @dark_textcolor;
		}
	}

	.graph-report{
		width: 60%;
		margin: 3% 20%;
		float: left;
		display: inline-block;

		h2{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 1.5em;
			color: @normal_textcolor;
		}

		.graph{
			width: 97.5%;
			margin-left: 2.5%;
			float: left;
			display: inline-block;
		}

		.report-yield-table{
			width: 99%;
			margin: 3% 0%;
			margin-right: 1%;
			float: left;
			display: inline-block;
			line-height: 3em;
			font-size: 0.5em;
			margin-bottom: 10%;
			border-top: 1px solid @border_color;
			border-left: 1px solid @border_color;
			color: @normal_textcolor;

			.caption-col{
				width: 12%;
				float: left;
				display: inline-block;
				font-weight: bold;

				.row{
					width: 90%;
					padding-left: 10%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid @border_color;
				}

				.date{
					font-weight: bold;
					background: @border_color;
				}
			}

			.data-items{
				width: 5.5%;
				float: left;
				display: inline-block;

				.v{
					width: 100%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid @border_color;
					border-left: 1px solid @border_color;
					text-align: center;
				}

				.date{
					font-weight: bold;
					background: @border_color;
				}

				.highlight{ color: @green_color; }

				.zero{ color: @thin_textcolor; }

				&:last-child{
					.v{
						border-right: 1px solid @border_color;
					}
				}
			}
		}
	}
	.starter-message{
		width: 100%;
		padding: 10% 0%;
		float: left;
		display: inherit;
		text-align: center;
		font-style: italic;
		font-size: 1em;
		color: @light_textcolor;
	}


	// Report detail editor (Add operation to caliber)
	.operation-form-container{
		width: 60%;
		margin: 0% 20%;
		float: left;
		display: inline-block;
		border-top: 0px;

		.operation-items{
			width: 100%;
			float: left;
			display: inline-block;
			line-height: 3em;
			font-size: 1em;
			border-bottom: 1px solid @border_color;
			color: @normal_textcolor;

			.col1{
				width: 40%;
				float: left;
				display: inline-block;
			}
			.col2{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: center;
			}
			.col3{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: center;
			}
			.col4{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: center;
			}
			.col5{
				width: 27%;
				float: left;
				display: inline-block;
				margin-left: 3%;
			}

			.input-text{
				width: 100%;
				float: left;
				display: inline-block;
				font-family: @FontStylePrimary;
				font-size: 1em;
				border: 0px;
				line-height: 3em;
				border-radius: 0px;
				text-align: center;
				background: @white_color;
			}

			.input-select{
				-webkit-appearance: none;
			}
		}

		.topic-fix{
			font-size: 0.9em;
			color: @light_textcolor;
		}
	}

	// Create Header report
	.header-report-form-container{
		width: 60%;
		margin: 0% 20%;
		float: left;
		display: inline-block;
		background: @white_color;

		.form-section{
			width: 100%;
			padding-top: 3%;
			float: left;
			display: inline-block;
			border-top: 1px dotted @border_color;

			.title{
				width: 100%;
				float: left;
				display: inline-block;
				line-height: 1.5em;
				font-size: 1em;
				margin-bottom: 3%;
				color: @light_textcolor;
			}
			.input{
				width: 100%;
				float: left;
				display: inline-block;

				.section-items{
					width: 31.33%;
					margin-bottom: 5%;
					margin-right: 3%;
					float: left;
					display: inline-block;

					&:nth-child(3n){
						float: right;
						margin-right: 0%;
					}

					.caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1em;
						color: @light_textcolor;
						line-height: 1em;
						margin-left: 3%;
						line-height: 2em;
						text-align: center;
					}
					.input{
						width: 100%;
						float: left;
						display: inline-block;

						.input-text{
							width: 100%;
							float: left;
							display: inline-block;
							font-family: @FontStylePrimary;
							font-size: 3em;
							line-height: 1em;
							background: @white_color;
							border: 0px;
							border-bottom: 1px solid @border_color;
							text-align: center;
							border-radius: 0px;
							outline: none;
						}

						.input-select{
							-webkit-appearance: none;

							&:hover{
								cursor: pointer;
								border-bottom: 1px solid @light_textcolor;
							}
						}
					}
				}
			}
		}
	}

	// Form control style
	.control-container{
		width: 60%;
		margin: 5% 20%;
		float: left;
		display: inline-block;

		.delete-btn{
			float: left;
			display: inline-block;
			font-size: 0.9em;
			padding: 5px 15px;
			color: @red_color;
			border: 1px solid @red_color;
			border-radius: 20px;

			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}

	// List container style
	.list-container{
		width: 60%;
		margin: 0% 20%;
		float: left;
		display: inline-block;

		// Topic style
		.topic-container{
			width: 100%;
			float: left;
			display: inline-block;
			padding-bottom: 1%;
			margin-bottom: 2%;
			border-bottom: 1px solid @border_color;

			.title{
				width: 70%;
				float: left;
				display: inline-block;
				font-size: 1.2em;
				padding: 8px 0px;
				color: @normal_textcolor;
			}
			.control{
				width: 30%;
				float: right;
				display: inline-block;

				a.edit-btn, a.create-btn{
					float: right;
					display: inline-block;
					background: @border_color;
					padding: 8px 20px;
					font-size: 0.9em;
					color: @light_textcolor;
					border-radius: 20px;

					i{ margin-left: 10px; }
				}

				a.create-btn{
					background: @green_color;
					color: @white_color;

					i{
						margin-left: 0px;
						margin-right: 10px;
					}
				}
			}
		}

		.starter-container{
			width: 100%;
			padding: 5% 0%;
			float: left;
			display: inline-block;
			text-align: center;

			a.create-btn{
				background: @green_color;
				color: @white_color;
				padding: 8px 20px;
				font-size: 0.9em;
				border-radius: 20px;

				i{ margin-right: 10px; }
			}
		}

		.report-stat{
			width: 100%;
			float: left;
			display: inline-block;

			.stat-items{
				width: 22.66%;
				margin-right: 3%;
				margin-bottom: 3%;
				float: left;
				display: inline-block;
				border-right: 1px solid @border_color;

				&:nth-child(4n){
					border-right: 0px;
					margin-right: 0%;
				}

				.v{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 2em;
					color: @normal_textcolor;
					margin-bottom: 3%;
				}
				.k{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 1em;
					color: @light_textcolor;

					i{
						font-size: 0.8em;
						color: @thin_textcolor;
						margin-left: 5px;
					}
				}
			}
		}

		// Header info detail in table-layout
		// Manpower: report detail page
		.header-report-table{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 0.9em;
			margin-bottom: 3%;

			.box{
				padding: 2% 0%;
				float: left;
				display: inline-block;
				background: @white_color;

				.box-topic{
					width: 100%;
					float: left;
					display: inline-block;
					color: @normal_textcolor;
					margin-bottom: 2%;

					i{
						margin-left: 5px;
						color: @thin_textcolor;
						font-size: 0.8em;
					}
				}

				.col{
					float: left;
					display: inline-block;
					color: @normal_textcolor;
					border-right: 1px solid @border_color;

					.col-val{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1.5em;
						line-height: 1.5em;
						color: @normal_textcolor;
					}
					.col-caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.8em;
						margin-left: 5px;
						color: @light_textcolor;
					}

					&:last-child{
						border-right: 0px;
						margin-right: 0%;
					}
				}
			}

			.box1{
				width: 49.5%;
				padding: 2% 0%;
				margin-right: 1%;
				margin-bottom: 1%;


				.col{
					width: 21%;
					margin-right: 4%;
				}
			}

			.box2{
				width: 49.5%;
				padding: 2% 0%;
				margin-bottom: 1%;


				.col{
					width: 16%;
					margin-right: 4%;
				}
			}

			.box3{
				width: 49.5%;
				padding: 2% 0%;
				margin-right: 1%;
				margin-bottom: 2%;

				.col{
					width: 21%;
					margin-right: 4%;
				}
			}

			.box4{
				width: 24%;
				padding: 2.2% 0%;

				.box-topic{
					margin-bottom: 3%;
				}

				.col{
					width: 47%;
					margin-right: 5%;
				}
			}

			.box5{
				width: 24.5%;
				padding: 2.2% 0%;

				.box-topic{ margin-bottom: 3%; }

				.col{
					width: 47%;
					margin-right: 5%;
				}
			}
		}
		// END Header info detail in table-layout

		// Caliber items stype
		// Output: Report detail
		.caliber-in-report-items{
			width: 96%;
			padding: 2%;
			float: left;
			display: inline-block;
			margin-bottom: 2%;
			background: @white_color;
			border: 1px solid @border_color;

			.info{
				width: 100%;
				float: left;
				display: inline-block;

				.name{
					width: 100%;
					float: left;
					font-size: 1.2em;
					font-weight: bold;
					color: @normal_textcolor;

					a{
						float: right;
						display: inline-block;
						color: @light_textcolor;
						background: @thin_textcolor;
						padding: 5px 10px;
						padding-top: 6px;
						font-size: 0.6em;
						border-radius: 20px;
						font-weight: normal;

						&:hover{
							cursor: pointer;
							opacity: 0.8;
						}

						&:active{
							color: @white_color;
							background: @primary_color;
						}
					}
				}

				.description{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 0.9em;
					line-height: 1.5em;
					color: @light_textcolor;
				}
			}

			// Opearation box
			.operations{
				width: 100%;
				float: left;
				display: inline-block;
				margin-top: 2%;

				// Operations items style
				.operation-items{
					width: 100%;
					padding: 1% 0%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid @border_color;
					font-size: 0.9em;

					&:last-child{
						border-bottom: 0px;
					}

					.col1{
						width: 49%;
						float: left;
						display: inline-block;
					}
					.col2{
						width: 12%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col3{
						width: 12%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col4{
						width: 12%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col5{
						width: 15%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col6{
						width: 100%;
						float: left;
						display: inline-block;
						text-align: right;
						font-size: 0.8em;
						line-height: 1.5em;
						display: none;
					}
				}

				.topic-fix{
					font-style: italic;
					color: @light_textcolor;
					font-size: 0.6em;

					&:hover{
						color: @light_textcolor;
					}
				}
			}
		}

		.user-activity-items{
			width: 100%;
			padding: 1% 0%;
			float: left;
			display: inline-block;
			border-bottom: 1px solid @border_color;
			color: @normal_textcolor;
			font-size: 0.9em;

			.col1{
				width: 20%;
				float: left;
				display: inline-block;
			}
			.col2{
				width: 20%;
				float: left;
				display: inline-block;
			}
			.col3{
				width: 20%;
				float: left;
				display: inline-block;
			}
			.col4{
				width: 40%;
				float: left;
				display: inline-block;
			}
		}

		.topic-fix{
			color: @light_textcolor;
		}

		// Empty items style
		.empty-items{
			width: 100%;
			padding: 5% 0%;
			float: left;
			display: inline-block;
			font-size: 1em;
			color: @light_textcolor;
			text-align: center;
		}

		// Operation items in Report detail by Caliber ID
		// .report-caliber-detail-items{
		// 	width: 60%;
		// 	padding: 0% 20%;
		// 	float: left;
		// 	display: inline-block;
		// 	border-bottom: 1px solid @border_color;
		// 	font-size: 0.9em;
		// 	line-height: 2.5em;

		// 	&:hover{
		// 		background: #FAFAFA;
		// 	}

		// 	.col1{
		// 		width: 20%;
		// 		float: left;
		// 		display: inline-block;
		// 		border-right: 1px solid @border_color;
		// 	}
		// 	.col2{
		// 		width: 10%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid @border_color;
		// 	}
		// 	.col3{
		// 		width: 10%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid @border_color;
		// 	}
		// 	.col4{
		// 		width: 20%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid @border_color;
		// 	}
		// 	.col5{
		// 		width: 20%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: center;
		// 		border-right: 1px solid @border_color;
		// 	}
		// 	.col6{
		// 		width: 20%;
		// 		padding-right: 1%;
		// 		float: left;
		// 		display: inline-block;
		// 		text-align: right;
		// 		border-right: 1px solid @border_color;
		// 	}
		// }

		// 	List all caliber before insert
		.caliber-choose-items{
			width: 100%;
			float: left;
			display: inline-block;
			border-top: 1px solid @border_color;
			font-size: 1em;
			line-height: 1em;
			padding: 2% 0%;
			color: @normal_textcolor;

			&:last-child{
				border-bottom: 1px solid @border_color;
			}

			.title{
				width: 15%;
				float: left;
				display: inline-block;
				font-weight: bold;
			}
			.std{
				width: 15%;
				float: left;
				display: inline-block;
			}
			.ttl{
				width: 15%;
				float: left;
				display: inline-block;
				color: @thin_textcolor;
			}
			.icon{
				width: 55%;
				float: left;
				display: inline-block;
				text-align: right;
			}
		}

		// Caliber unlink (Aleady items to report detail)
		.unlink-items{
			color: @thin_textcolor;
			.ttl{ color: @thin_textcolor; }
		}

		// Header report items style
		.report-header-items{
			width: 100%;
			padding: 2% 0%;
			float: left;
			display: inline-block;
			line-height: 1em;
			font-size: 1em;
			color: @normal_textcolor;
			border-bottom: 1px solid @border_color;

			&:hover{
				cursor: pointer;
				color: @dark_textcolor;
			}

			.col1{
				width: 20%;
				float: left;
				display: inline-block;

				.new-items{
					font-size: 0.7em;
					font-style: italic;
				}
			}
			.col2{
				width: 10%;
				float: left;
				display: inline-block;
				text-align: center;
			}
			.col3{
				width: 25%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col4{
				width: 25%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col5{
				width: 20%;
				float: left;
				display: inline-block;
				text-align: right;

				i{ margin-left: 10px; }
			}
		}

		// Last items highlight
		.last-items{
			font-weight: bold;
			color: @primary_color;
		}

		.not_owner{
			color: @light_textcolor;
		}

		.header-topic-fix{
			padding: 1% 0%;
			color: @light_textcolor;

			&:hover{ color: @light_textcolor; }
		}
	}
}

// Loading dialog and animate
.loading-box{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: inline-block;
	background: rgba(255, 255, 255, 0.95);
	display: none;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 20%;

		.icon{
			font-size: 4em;
			margin-bottom: 3%;
			color: @primary_color;
		}
		p{
			font-size: 1em;
			line-height: 1.5em;
			color: @light_textcolor;
		}
	}
}

// Logout page style
.dialog-box{
	width: 100%;
	margin-top: 20%;
	float: left;
	display: inline-block;
	text-align: center;

	.icon{
		color: @primary_color;
		font-size: 3em;
		margin-bottom: 2%;
	}
	p{
		font-size: 1em;
		line-height: 1.5em;
		color: @light_textcolor;
	}
}

// Error page style
.error-container{
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;
	padding-top: 18%;

	.icon{
		font-size: 4em;
		margin-bottom: 2%;
	}
	h1{
		font-size: 2em;
		line-height: 1.5em;
		color: @normal_textcolor;
	}
	p{
		font-size: 0.9em;
		line-height: 1.5em;
		margin-bottom: 5%;
		color: @light_textcolor;
	}

	a{
		background: @primary_color;
		color: @white_color;
		padding: 10px;
		border-radius: 2px;
		font-size: 0.9em;
		fon

		&:hover{ opacity: 0.8; }
	}
}

/* Other Device and Screen */
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}