@import "default";

.header{
	width: 100%;
	padding: 0%;
	height: 50px;

	.logo{
		font-size: 1em;
		height: 20px;
		padding: 15px 2%;
	}
	.profile{
		height: 26px;
		padding: 12px 2%;

		img{
			width: 26px;
			height: 26px;
		}

		.name{
			line-height: 2em;
			margin-right: 10px;
			font-size: 0.9em;
		}
	}
}
.container{
	width: 100%;
	margin-top: 50px;
	min-height: 300px;

	.head{
		width: 96%;
		padding: 0% 2%;

		.head-title{
			padding: 3% 0%;
			font-size: 2.5em;
		}

		.tab{

			.tab-items{
				padding: 15px;
				color: #EEEEEE;
				margin-right: 1%;

				i{
					margin-left: 10px;
				}
			}

			.items-right{
				margin-right: 0%;
				margin-left: 1%;
			}
		}
	}

	// Listall user style page.
	.topic-fix{

		.user-topic-fix{
			width: 96%;
			padding: 3% 2%;
			font-size: 0.8em;
			.info{
				width: 45%;
			}
			.online{
				width: 25%;
			}
			.time{
				width: 15%;
			}
			.status{
				width: 15%;
			}
		}
	}
		

	.list{

		.user-items{
			width: 96%;
			padding: 2% 0%;
			margin: 0% 2%;

			.avatar{
				width: 8%;
				margin-right: 2%;
			}
			.info{
				width: 35%;
				line-height: 1.2em;
				padding-top: 0.5%;

				.position{
					font-size: 0.8em;
				}
			}
			.online{
				width: 25%;
				font-size: 0.9em;
				padding-top: 2%;
				line-height: 1.7em;

				i{
					margin-left: 5px;
					font-size: 0.8em;
				}
			}
			.time{
				width: 15%;
				font-size: 0.9em;
				padding-top: 2%;
				line-height: 1.7em;
			}
			.status{
				width: 15%;
				font-size: 0.9em;
				padding-top: 2%;
				line-height: 1.7em;

				i{
					margin-left: 10px;
				}
			}
		}
	}

	.content{
		width: 70%;
		padding: 0% 15%;
	}

	.main-menu{
		width: 70%;
		padding: 0% 15%;

		.menu-items{
			width: 31.33%;
			padding: 4% 0%;
            margin-top: 3%;
            margin-right: 3%;
            float: left;
            text-align: center;
            background: #FFFFFF;
            border-radius: 3px;

            &:nth-child(3n){
                margin-right: 0%;
                float: right;
            }


			.icon{
				font-size: 3em;
				line-height: 1.5em;
			}
			.title{
				font-size: 1em;
				line-height: 2em;
			}
			.tag{
				font-size: 0.7em;
				line-height: 1.5em;
				background: #DDDDDD;
				display: inline-block;
				padding: 0px 5px;
				border-radius: 5px;
				font-weight: bold;
			}
		}
	}
}
.footer{
	width: 70%;
	padding: 3% 15%;
	margin-top: 3%;
	float: left;
	display: inline-block;
	background: #F7F7F7;
	text-align: center;

	p{
		font-size: 0.9em;
		line-height: 1.5em;
	}
	p.mini{
		font-size: 0.8em;
	}
}

/* Other Device and Screen */
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}