// Loading dialog and animate
.loading-box{
	.dialog{
		margin-top: 60%;
		font-size: 1em;
	}
}

// Logout page style
.dialog-box{
	.dialog{
		margin-top: 55%;
		font-size: 1em;
		line-height: 1.5em;
	}
}

// Error page style
.error-container{
	padding-top: 40%;

	.icon{
		font-size: 2em;
		margin-bottom: 2%;
	}
	p{
		font-size: 1.2em;
		line-height: 1.5em;
		margin-bottom: 10%;
	}

	a{
		padding: 10px 20px;
		font-size: 0.9em;
	}
}

// Login page style
.login-container{
	width: 50%;
	margin: 0% 25%;
	margin-top: 30%;

	.logo{
		h1{
			font-size: 2em;
			margin-bottom: 3%;
		}

		p.version{ font-size: 0.8em; }
	}

	.input{
		margin-top: 20%;
		margin-bottom: 10%;
		border-radius: 5px;

		.input-text{
			width: 92%;
			padding: 4%;
			font-size: 1.1em;
			line-height: 1.5em;
		}
	}

	.submit{
		.login-btn{
			padding: 4% 0%;
			font-size: 1.1em;
			line-height: 1.5em;
		}
	}
}
// END login page style