@import "default";

// Header bar style
.header{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 60%;
	padding: 0% 20%;
	height: 40px;
	float: left;
	display: inline-block;
	background: #1947a3;

	.logo{
		float: left;
		display: inline-block;
		font-weight: bold;
		font-size: 1em;
		padding: 12px 0px;
		height: 16px;
		color: #EEEEEE;

		&:hover{
			color: #FFFFFF;
		}

		i{
			margin-right: 5px;
		}
	}

	.navibar{
		float: left;
		display: inline-block;
		padding: 12px 0%;
		margin-left: 1%;
		height: 14px;
		color: #EEEEEE;
		border-bottom: 2px solid transparent;

		&:hover{
			border-bottom: 2px solid #FFFFFF;
		}

		i{
			margin-right: 10px;
		}
	}
	.profile{
		float: right;
		display: inline-block;
		padding: 12px 1%;
		height: 16px;
		color: #FFFFFF;
		font-size: 0.9em;

		&:hover{
			background: #003399;
		}

		.name{
			float: left;
			display: inline-block;
			color: #FFFFFF;
		}

		a{
			color: #FFFFFF;
		}

		a.logout{
			color: #ea6153;
			&:hover{
				text-decoration: underline;
			}
		}

		i{
			margin-right: 5px;
		}
	}
}

// Login page style
.login-container{
	width: 30%;
	margin: 0% 35%;
	float: left;
	display: inline-block;
	margin-top: 10%;
	text-align: center;

	.logo{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;

		h1{
			font-size: 3.5em;
		}
		.icon{
			font-size: 3em;
			margin-bottom: 5%;
			color: #003399;
		}

		p.version{
			font-size: 0.8em;
			color: rgba(0, 0, 0, 0.3);
		}
	}

	.input{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: 20%;

		.input-text{
			width: 96%;
			padding: 2%;
			float: left;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1.5em;
			line-height: 1.5em;
			color: #003399;
			margin-bottom: 3%;
			border: 1px solid #EEEEEE;
			border-radius: 3px;

			&:focus{
				border: 1px solid #CCCCCC;
			}
		}

		.login-btn{
			width: 30%;
			padding: 2% 0%;
			float: right;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1em;
			line-height: 1.5em;
			border: 0px;
			text-align: center;
			background: #003399;
			color: #FFFFFF;
			border-radius: 3px;

			i{
				margin-left: 10px;
			}

			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}
// END login page style


// Container all Page
.container{
	width: 100%;
	margin-top: 40px;
	min-height: 500px;
	float: left;
	display: inline-block;

	// Head page
	.head{
		width: 60%;
		padding: 0% 20%;
		float: left;
		display: inline-block;

		.head-title{
			width: 100%;
			padding: 5% 0%;
			padding-bottom: 6%;
			float: left;
			display: inline-block;
			text-align: center;

			h2{
				font-size: 1em;
				font-weight: normal;
			}

			h1{
				font-size: 2em;
				color: #000000;
				line-height: 1.2em;
			}
			h1.date{
				font-size: 4em;
				color: rgba(0, 0, 0, 0.8);
			}

			p{
				font-size: 1em;
				line-height: 1.3em;
				color: rgba(0, 0, 0, 0.4);
			}

			.btn{
				width: 100%;
				float: left;
				display: inline-block;
				margin-top: 4%;

				a.btn-create{
					background: #4CAF50;
					padding: 10px 15px;
					color: #FFFFFF;
					border-radius: 3px;
					font-weight: bold;
					box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
					text-decoration: none;

					&:hover{
						cursor: pointer;
						background: #43A047;
					}

					&:active{
						background: #2E7D32;
					}
				}
			}
		}
	}


	// Report detail editor (Add operation to caliber)
	.operation-form-container{
		width: 58%;
		padding: 1%;
		margin: 0% 20%;
		float: left;
		display: inline-block;
		background: #FFFFFF;
		border: 1px solid #EEEEEE;
		border-top: 0px;

		.heads{
			width: 100%;
			float: left;
			display: inline-block;
			margin-bottom: 3%;
			h3{
				font-size: 2em;
			}
			p{
				font-size: 1em;
				line-height: 1.5em;
			}
		}

		.operation-items{
			width: 100%;
			float: left;
			display: inline-block;
			line-height: 3em;
			font-size: 1em;
			border-top: 1px dotted #DDDDDD;

			.col1{
				width: 40%;
				float: left;
				display: inline-block;
			}
			.col2{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col3{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col4{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col5{
				width: 27%;
				float: left;
				display: inline-block;
				margin-left: 3%;
			}

			.input-text{
				width: 100%;
				float: left;
				display: inline-block;
				font-family: @FontStylePrimary;
				font-size: 1em;
				border: 0px;
				line-height: 3em;
				border-radius: 2px;
				text-align: right;
				background: #FFFFFF;
			}

			.input-select{
				width: 100%;
				text-align: left;
				-webkit-appearance: none;
			}
		}

		.topic-fix{
			font-size: 0.7em;
			font-style: italic;
			color: rgba(0, 0, 0, 0.3);
		}
	}

	// Create Header report
	.header-report-form-container{
		width: 58%;
		padding: 1%;
		margin: 0% 20%;
		float: left;
		display: inline-block;
		background: #FFFFFF;
		border: 1px solid #EEEEEE;
		border-top: 0px;

		.heads{
			width: 100%;
			float: left;
			display: inline-block;
			margin-bottom: 3%;

			.title{
				float: left;
				display: inline-block;

				h1{
					font-size: 1.5em;
					font-weight: bold;
				}
				p{
					font-size: 0.9em;
					line-height: 1.5em;
				}
			}
			.date{
				float: right;
				display: inline-block;

				.input-select{
					float: left;
					display: inline-block;
					font-size: 1.3em;
					font-family: @FontStylePrimary;
					-webkit-appearance: none;
					line-height: 1.5em;
					padding: 5px 8px;
					margin-left: 5px;
					border: 1px solid #DDDDDD;
					border-radius: 3px;
					text-align: center;
					background: #FFFFFF;
				}
			}
		}

		.form-section{
			width: 100%;
			padding: 2% 0%;
			float: left;
			display: inline-block;
			border-top: 1px dotted #DDDDDD;

			.title{
				width: 30%;
				float: left;
				display: inline-block;
				line-height: 2em;
				font-size: 0.9em;
			}
			.input{
				width: 70%;
				float: left;
				display: inline-block;

				.section-items{
					width: 15%;
					margin-right: 5%;
					float: left;
					display: inline-block;

					.caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.7em;
						color: #555555;
						line-height: 1em;
					}
					.input{
						width: 100%;
						float: left;
						display: inline-block;

						.input-text{
							width: 100%;
							float: left;
							display: inline-block;
							font-family: @FontStylePrimary;
							font-size: 2em;
							border: 0px;
							line-height: 1em;
							background: #FFFFFF;
						}

						.input-select{
							border: 1px solid #DDDDDD;
							border-bottom: 1px solid #DDDDDD;
							padding: 0% 5%;
							-webkit-appearance: none;
						}
					}
				}
			}
		}
	}

	// Form control style
	.control-container{
		width: 60%;
		margin: 1% 20%;
		float: left;
		display: inline-block;

		.delete-btn{
			float: left;
			display: inline-block;
			font-size: 1em;
			padding: 10px 0px;
			color: #AAAAAA;

			&:hover{
				cursor: pointer;
				background: #CCCCCC;
				color: #555555;
			}

			&:active{
				background: #BBBBBB;
				color: #333333;
			}
		}

		// Submit button style
		.submit-btn{
			float: right;
			display: inline-block;
			font-size: 1em;
			padding: 10px 20px;
			background: #4CAF50;
			color: #FFFFFF;
			border: 0px;
			border-radius: 3px;
			font-weight: bold;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

			&:hover{
				background: #43A047;
				cursor: pointer;
			}

			&:active{
				background: #2E7D32;
			}
		}
	}

	// List container style
	.list-container{
		width: 60%;
		margin: 0% 20%;
		float: left;
		display: inline-block;

		// Report detail style
		p.topic{
			width: 100%;
			float: left;
			display: inline-block;
			color: rgba(0, 0, 0, 0.8);
			margin-bottom: 2%;
			font-size: 1.2em;

			a{
				float: right;
				display: inline-block;
				color: #003399;
				border: 1px solid #003399;
				padding: 2px 3px;
				padding-top: 3px;
				font-size: 0.7em;
				border-radius: 2px;

				&:hover{
					cursor: pointer;
					opacity: 0.8;
				}

				&:active{
					color: #FFFFFF;
					background: #003399;
				}
			}
		}

		.report-stat{
			width: 100%;
			float: left;
			display: inline-block;

			.stat-items{
				width: 20.25%;
				padding: 2%;
				margin-right: 1%;
				margin-bottom: 1%;
				border-radius: 2px;
				float: left;
				display: inline-block;
				background: #FFFFFF;

				.v{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 2.5em;
					color: rgba(0, 0, 0, 0.8);
				}
				.k{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 0.9em;
					color: rgba(0, 0, 0, 0.5);
				}

				&:last-child{
					float: right;
					margin-right: 0%;
				}
			}
		}

		// Header info detail in table-layout
		// Manpower: report detail page
		.header-report-table{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 0.9em;
			margin-bottom: 3%;

			.box1{
				width: 45.5%;
				padding: 2%;
				float: left;
				display: inline-block;
				background: #FFFFFF;
				margin-right: 1%;
				margin-bottom: 1%;

				.box-topic{
					width: 100%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.5);
					margin-bottom: 2%;
				}

				.col{
					width: 25%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.8);

					.col-val{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1.5em;
						line-height: 1em;
					}
					.col-caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.8em;
					}
				}
			}

			.box2{
				width: 45.5%;
				padding: 2%;
				float: left;
				display: inline-block;
				background: #FFFFFF;
				margin-bottom: 1%;

				.box-topic{
					width: 100%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.5);
					margin-bottom: 2%;
				}

				.col{
					width: 20%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.8);

					.col-val{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1.5em;
						line-height: 1em;
					}
					.col-caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.8em;
					}
				}
			}

			.box3{
				width: 45.5%;
				padding: 2%;
				float: left;
				display: inline-block;
				background: #FFFFFF;
				margin-right: 1%;

				.box-topic{
					width: 100%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.5);
					margin-bottom: 2%;
				}

				.col{
					width: 25%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.8);

					.col-val{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1.5em;
						line-height: 1em;
					}
					.col-caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.8em;
					}
				}
			}

			.box4{
				width: 20%;
				padding: 2.2% 2%;
				float: left;
				display: inline-block;
				background: #FFFFFF;

				.box-topic{
					width: 100%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.5);
					margin-bottom: 3%;
				}

				.col{
					width: 50%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.8);

					.col-val{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1.5em;
						line-height: 1em;
					}
					.col-caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.8em;
					}
				}
			}

			.box5{
				width: 20.5%;
				padding: 2.2% 2%;
				float: right;
				display: inline-block;
				background: #FFFFFF;

				.box-topic{
					width: 100%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.5);
					margin-bottom: 3%;
				}

				.col{
					width: 50%;
					float: left;
					display: inline-block;
					color: rgba(0, 0, 0, 0.8);

					.col-val{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 1.5em;
						line-height: 1em;
					}
					.col-caption{
						width: 100%;
						float: left;
						display: inline-block;
						font-size: 0.8em;
					}
				}
			}
		}
		// END Header info detail in table-layout

		// Caliber items stype
		// Output: Report detail
		.caliber-in-report-items{
			width: 96%;
			padding: 2%;
			float: left;
			display: inline-block;
			border-radius: 3px;
			margin-bottom: 2%;
			background: #FFFFFF;
			border: 1px solid #EEEEEE;

			.info{
				width: 100%;
				float: left;
				display: inline-block;

				.name{
					width: 100%;
					float: left;
					font-size: 1.2em;
					font-weight: bold;
					color: rgba(0, 0, 0, 0.8);

					a{
						float: right;
						display: inline-block;
						color: #003399;
						border: 1px solid #003399;
						padding: 2px 3px;
						padding-top: 3px;
						font-size: 0.7em;
						border-radius: 2px;
						font-weight: normal;

						&:hover{
							cursor: pointer;
							opacity: 0.8;
						}

						&:active{
							color: #FFFFFF;
							background: #003399;
						}
					}
				}

				.description{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 0.9em;
					line-height: 1.5em;
					color: rgba(0, 0, 0, 0.5);
				}
			}

			// Opearation box
			.operations{
				width: 100%;
				float: left;
				display: inline-block;
				border-radius: 3px;
				margin-top: 2%;
				border: 1px solid #EEEEEE;

				// Operations items style
				.operation-items{
					width: 100%;
					padding: 1% 0%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid #EEEEEE;
					font-size: 0.9em;

					&:last-child{
						border-bottom: 0px;
					}

					.col1{
						width: 47%;
						padding: 0% 1%;
						float: left;
						display: inline-block;
					}
					.col2{
						width: 12%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col3{
						width: 12%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col4{
						width: 12%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col5{
						width: 13%;
						padding: 0% 1%;
						float: left;
						display: inline-block;
						text-align: right;
					}
					.col6{
						width: 100%;
						float: left;
						display: inline-block;
						text-align: right;
						font-size: 0.8em;
						line-height: 1.5em;
						display: none;
					}
				}

				.topic-fix{
					font-style: italic;
					color: rgba(0, 0, 0, 0.6);
					font-size: 0.6em;
					background: #FAFAFA;

					&:hover{
						color: rgba(0, 0, 0, 0.6);
					}
				}
			}
		}

		// Empty items style
		.empty-items{
			width: 100%;
			padding: 5% 0%;
			float: left;
			display: inline-block;
			font-size: 1em;
			color: #CCCCCC;
			text-align: center;
		}

		// Operation items in Report detail by Caliber ID
		.report-caliber-detail-items{
			width: 60%;
			padding: 0% 20%;
			float: left;
			display: inline-block;
			border-bottom: 1px solid #EEEEEE;
			font-size: 0.9em;
			line-height: 2.5em;

			&:hover{
				background: #FAFAFA;
			}

			.col1{
				width: 20%;
				float: left;
				display: inline-block;
				border-right: 1px solid #EEEEEE;
			}
			.col2{
				width: 10%;
				float: left;
				display: inline-block;
				text-align: center;
				border-right: 1px solid #EEEEEE;
			}
			.col3{
				width: 10%;
				float: left;
				display: inline-block;
				text-align: center;
				border-right: 1px solid #EEEEEE;
			}
			.col4{
				width: 20%;
				float: left;
				display: inline-block;
				text-align: center;
				border-right: 1px solid #EEEEEE;
			}
			.col5{
				width: 20%;
				float: left;
				display: inline-block;
				text-align: center;
				border-right: 1px solid #EEEEEE;
			}
			.col6{
				width: 20%;
				padding-right: 1%;
				float: left;
				display: inline-block;
				text-align: right;
				border-right: 1px solid #EEEEEE;
			}
		}

		// 	List all caliber before insert
		.caliber-choose-items{
			width: 100%;
			padding: 2% 0%;
			line-height: 1.5em;
			float: left;
			display: inline-block;
			border-top: 1px solid #DDDDDD;
			color: rgba(0, 0, 0, 0.5);
			font-size: 1em;

			&:last-child{
				border-bottom: 1px solid #DDDDDD;
			}

			strong{
				color: rgba(0, 0, 0, 1);
			}

			&:hover{
				cursor: pointer;
				background: #FAFAFA;
			}

			.ttl_operation{
				font-style: italic;
			}

			i{
				float: right;
				font-size: 1em;
				line-height: 1.5em;
			}
		}

		// Caliber unlink (Aleady items to report detail)
		.unlink-items{
			color: rgba(0, 0, 0, 0.1);

			strong{
				color: rgba(0, 0, 0, 0.1);
			}

			&:hover{
				background: #FFFFFF;
			}
		}

		// Header report items style
		.report-header-items{
			width: 100%;
			padding: 1.5% 0%;
			float: left;
			display: inline-block;
			line-height: 1em;
			font-size: 0.9em;
			color: rgba(0, 0, 0, 0.8);
			background: #FFFFFF;
			border-bottom: 1px solid #EEEEEE;

			&:hover{
				cursor: pointer;
				background: #FAFAFA;
			}

			.col1{
				width: 18%;
				padding: 0% 1%;
				float: left;
				display: inline-block;

				i{
					margin-right: 5px;
				}
			}
			.col2{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: center;
			}
			.col3{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col4{
				width: 8%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col5{
				width: 18%;
				padding: 0% 1%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.col6{
				width: 28%;
				padding: 0% 1%;
				float: left;
				display: inline-block;

				i{
					float: right;
				}
			}
		}

		// Last items highlight
		.last-items{
			font-weight: bold;
			color: #003399;
		}

		.not_owner{
			background: #F5F5F5;
			color: rgba(0, 0, 0, 0.3);
		}

		.header-topic-fix{
			font-size: 0.6em;
			padding: 1% 0%;
			font-style: italic;
			color: rgba(0, 0, 0, 0.2);
			background: #EAEAEA;

			&:hover{
				color: rgba(0, 0, 0, 0.2);
				background: #EAEAEA;
			}
		}
	}
}

// Loading dialog and animate
.loading-box{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: inline-block;
	background: rgba(255, 255, 255, 0.95);
	display: none;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 20%;

		.icon{
			font-size: 4em;
			margin-bottom: 3%;
			color: #003399;
		}
		p{
			font-size: 1em;
			line-height: 1.5em;
			color: #999999;
		}
	}
}

// Logout page style
.dialog-box{
	width: 100%;
	margin-top: 20%;
	float: left;
	display: inline-block;
	text-align: center;

	.icon{
		color: #003399;
		font-size: 3em;
		margin-bottom: 2%;
	}
	p{
		font-size: 1em;
		line-height: 1.5em;
		color: #999999;
	}
}

/* Other Device and Screen */
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}