@import "reset";
@import "config";

// header style
.header{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 50%;
	padding: 0% 25%;
	height: 80px;
	float: left;
	display: inline-block;
	background: @primary_color;
	z-index: 99;

	> .header-items{
		padding: 20px 0%;
		height: 40px;
		float: left;
		display: inline-block;
		margin-right: 2%;
		color: #FFFFFF;
		border: 0px;

		.topic{
			font-size: 1.4em;
			line-height: 1.2em;
		}
		.caption{
			font-size: 0.7em;
			line-height: 1.3em;
			color: rgba(255,255,255,0.4);
		}

		i{ margin-right: 10px; }

		strong{
			font-weight: normal;
			color: rgba(255, 255, 255, 0.9);
		}
	}

	> .btn{
		padding: 6px 10px;
		height: 20px;
		margin: 25px 0px;
		float: right;
		display: inline-block;
		background: #FFFFFF;
		color: @primary_color;
		font-size: 0.9em;
		border: 0px;
		font-weight: bold;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.3);

		i{
			margin-right: 10px;
			font-size: 0.8em;
		}
	}
}

// Navigator menu style
.navigator{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 50%;
	padding: 0% 25%;
	height: 40px;
	float: left;
	display: inline-block;
	background: #FFFFFF;
	z-index: 10;
	margin-top: 80px;

	.header-items{
		padding: 10px 0%;
		height: 18px;
		float: left;
		display: inline-block;
		margin-right: 3%;
		color: #000000;
		font-size: 0.8em;
		border: 0px;
		border-bottom: 2px solid transparent;

		&:hover{
			cursor: pointer;
			color: @primary_color;
		}

		i{
			margin-right: 5px;
		}
	}

	.header-items-active{
		font-weight: bold;
		color: @primary_color;
		border-bottom: 2px solid @primary_color;
	}

	.logout{
		float: right;
		margin-right: 0%;
		color: rgba(0,0,0,0.4);

		&:hover{
			color: @red_color;
			text-decoration: underline;
		}

		i{
			margin-left: 5px;
			margin-right: 0px;
		}
	}
}

// Header list container style (Index)
.header-list-container{
	width: 100%;
	margin-top: 135px;
	margin-bottom: 3%;
	min-height: 500px;
	float: left;
	display: inline-block;

	> .filter{
		width: 50%;
		margin: 1% 25%;
		margin-bottom: 0%;
		float: left;
		display: inline-block;
		text-align: right;

		a{
			font-size: 0.8em;
			background: #EEEEEE;
			padding: 2px 5px;
			border-radius: 2px;
			color: #AAAAAA;
			border: 1px solid #DDDDDD;
			line-height: 1em;
		}
	}

	> .month-caption-items{
		width: 50%;
		padding: 3% 0%;
		margin: 0% 25%;
		float: left;
		display: inline-block;
		line-height: 1em;
		font-size: 1em;
		font-style: italic;
		color: rgba(0,0,0,0.6);
		text-align: center;
	}

	// Header report items style
	> a .header-report-items{
		width: 50%;
		margin: 0% 25%;
		float: left;
		display: inline-block;
		font-size: 0.9em;
		color: #000000;
		margin-bottom: 1px;
		background: #FFFFFF;

		&:hover{
			background: #EEEEEE;
			cursor: pointer;
		}

		.shift{
			width: 5%;
			padding: 1.5% 0%;
			float: left;
			display: inline-block;
			text-align: center;
			background: #F0F0F0;

			&.-A{ color: #FF5722; }
			&.-B{ color: #3F51B5; }
		}

		.date{
			width: 25%;
			padding: 1.5% 2%;
			float: left;
			display: inline-block;
			font-weight: bold;
			color: #000000;

			.new-items{
				font-size: 0.4em;
				margin-left: 5px;
				color: #FF9800;
				font-weight: normal;
			}
		}
		
		.eff{
			width: 15%;
			padding: 1.5% 0%;
			float: left;
			display: inline-block;
			text-align: right;

			span{
				margin: 0px 5px;
			}

			.-warning{
				color: #F44336;
			}
		}

		.owner{
			width: 29%;
			padding: 1.5% 0%;
			float: left;
			display: inline-block;
			text-align: right;

			i{
				margin-right: 5px;
				font-size: 0.8em;
				color: rgba(0,0,0,0.6);
			}
		}

		.status{
			width: 7%;
			padding: 1.5% 0%;
			float: right;
			display: inline-block;
			text-align: center;
		}

		&.-not_owner{
			opacity: 0.3;
		}
	}
}

// Report Detail Page style
.report-detail-container{
	width: 100%;
	margin-top: 135px;
	margin-bottom: 3%;
	min-height: 500px;
	float: left;
	display: inline-block;

	> .report-control{
		width: 50%;
		margin: 1% 25%;
		float: left;
		display: inline-block;

		.report-btn{
			float: right;
			display: inline-block;
			font-size: 0.9em;
			padding: 4px 10px;
			border-radius: 2px;
			margin-left: 10px;
			box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
			background: @primary_color;
			color: #FFFFFF;

			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}

			i{ margin-right: 10px; }

			&.-locked{
				background: #CCCCCC;
				color: #EEEEEE;
				box-shadow: none;
			}
		}
	}

	// Topic style
	> .topic-container{
		width: 50%;
		margin: 0% 25%;
		float: left;
		display: inline-block;

		.title{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 1em;
			color: @normal_textcolor;
			margin-bottom: 2%;

			.target{
				float: right;
				font-size: 1em;
				color: rgba(0,0,0,0.6);
				line-height: 1.5em;
				margin-left: 10px;

				strong{
					color: #000000;
				}
			}

			.create-btn{
				background: @green_color;
				color: @white_color;
				float: right;
				display: inline-block;
				border-radius: 2px;
				font-size: 0.9em;
				padding: 4px 10px;
				box-shadow: 1px 1px 3px rgba(0,0,0,0.3);

				&:hover{
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}

	.container-box{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 2%;
	}	

	> .report-stat{
		width: 50%;
		margin: 0% 25%;
		float: left;
		display: inline-block;
		background: #FFFFFF;
		margin-bottom: 1%;

		.stat-items{
			width: 20.85%;
			padding: 2%;
			float: left;
			display: inline-block;
			border-bottom: 1px solid #DDDDDD;
			border-right: 1px solid #DDDDDD;

			&:nth-child(4n){
				border-right: 0px;
			}

			&.-warning{
				.v,.k{
					color: #F44336;
				}
			}

			.v{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 1.4em;
				color: #000000;
				line-height: 1.1em;
				font-weight: bold;
			}
			.k{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 0.8em;
				color: rgba(0,0,0,0.6);

				i{
					font-size: 0.8em;
					color: @thin_textcolor;
					margin-left: 5px;
				}
			}
		}
	}

	// Header info detail in table-layout
	// Manpower: report detail page
	> .cal-box{
		width: 46%;
		padding: 2%;
		margin: 0% 25%;
		margin-top: 5%;
		float: left;
		display: inline-block;
		background: #FAFAFA;
		font-size: 0.8em;

		.box{
			width: 50%;
			float: left;
			display: inline-block;
		}
	}
	> .header-report-table{
		width: 50%;
		margin: 0% 25%;
		float: left;
		display: inline-block;
		font-size: 1em;
		margin-bottom: 3%;
		background: #FFFFFF;

		.box{
			width: 100%;
			float: left;
			display: inline-block;
			border-bottom: 1px solid #DDDDDD;

			.box-topic{
				width: 20.85%;
				padding: 2%;
				float: left;
				display: inline-block;
				color: @normal_textcolor;
				font-size: 0.9em;
				line-height: 1.5em;
				font-weight: bold;

				i{
					margin-left: 5px;
					color: @thin_textcolor;
					font-size: 0.8em;
				}
			}

			.col{
				width: 10.8%;
				padding: 2%;
				float: left;
				display: inline-block;
				color: @normal_textcolor;
				text-align: center;
				border-right: 1px solid #DDDDDD;
				position: relative;

				.col-val{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 1.4em;
					line-height: 1.1em;
					color: #000000;
					font-weight: bold;
				}
				.col-caption{
					position: absolute;
					bottom: 0%;
					left: 0%;
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 0.8em;
					color: @light_textcolor;
					line-height: 1.5em;
				}

				&:nth-child(6){
					border-right: 0px;
				}
				&:nth-child(2){
					border-left: 1px solid #DDDDDD;
				}

				&.-empty{
					.col-val, .col-caption{
						color: #DDDDDD;
					}
				}
			}
		}

		.remark{
			width: 96%;
			padding: 2%;
			float: left;
			display: inline-block;
			margin-top: 1%;
			background: #FFFFFF;

			.caption{
				font-size: 1em;
				color: #000000;
				margin-bottom: 1%;
				font-weight: bold;
			}
			.message{
				font-size: 1em;
				line-height: 1.5em;
				color: rgba(0,0,0,0.6);
			}
		}
	}
	// END Header info detail in table-layout

	// Caliber items stype
	// Output: Report detail
	.caliber-in-report-items{
		width: 48%;
		margin: 0% 25%;
		padding: 1%;
		margin-bottom: 0.5%;
		float: left;
		display: inline-block;
		background: @white_color;
		border: 1px solid @border_color;

		.info{
			width: 100%;
			float: left;
			display: inline-block;

			.name{
				width: 100%;
				float: left;
				font-size: 1.2em;
				font-weight: bold;
				color: @normal_textcolor;

				a{
					float: right;
					display: inline-block;
					color: @light_textcolor;
					background: @thin_textcolor;
					padding: 5px 10px;
					padding-top: 6px;
					font-size: 0.6em;
					border-radius: 2px;
					font-weight: normal;

					&:hover{
						cursor: pointer;
						opacity: 0.8;
					}

					&:active{
						color: @white_color;
						background: @primary_color;
					}
				}
			}

			.description{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 0.8em;
				line-height: 1.5em;
				color: rgba(0,0,0,0.6);
			}
		}

		// Opearation box
		.operations{
			width: 100%;
			float: left;
			display: inline-block;
			margin-top: 2%;

			// Operations items style
			.operation-items{
				width: 100%;
				padding: 1% 0%;
				float: left;
				display: inline-block;
				border-bottom: 1px solid @border_color;
				font-size: 1em;

				&:last-child{ border-bottom: 0px; }

				.fa-star{
					color: #FFC107;
					font-size: 0.7em;
				}

				.col1{
					width: 64%;
					float: left;
					display: inline-block;
				}
				.col2{
					width: 12%;
					float: left;
					display: inline-block;
					text-align: right;
					color: rgba(0,0,0,0.2);

					&.-black{
						color: rgba(0,0,0,0.8);
						font-weight: bold;
					}
				}
				.col3{
					width: 12%;
					float: left;
					display: inline-block;
					text-align: right;
					color: rgba(0,0,0,0.2);

					&.-green{
						color: @green_color;
						font-weight: bold;
					}
				}
				.col4{
					width: 12%;
					float: left;
					display: inline-block;
					text-align: right;
					color: rgba(0,0,0,0.2);

					&.-red{
						color: @red_color;
						font-weight: bold;
					}
				}
			}

			.topic-fix{

				.col1,.col2,.col3,.col4{
					color: rgba(0,0,0,0.6);
					font-size: 0.7em;
					font-style: italic;

					&:hover{
						color: #000000;
					}
				}
				
			}
		}
	}

	.starter-container{
		width: 100%;
		padding: 3% 0%;
		float: left;
		display: inline-block;
		text-align: center;

		a.create-btn{
			background: @green_color;
			color: @white_color;
			border-radius: 2px;
			font-weight: bold;
			font-size: 0.9em;
			padding: 7px 10px;

			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}

			i{ margin-right: 10px; }
		}
	}

	> .turn-to-list{
		width: 50%;
		float: left;
		display: inline-block;
		margin: 0% 25%;

		.turn-to-items{
			width: 32.33%;
			float: left;
			display: inline-block;
			background: #FFFFFF;
			margin-bottom: 1%;
			margin-right: 1%;
			border: 1px solid #EEEEEE;

			.title{
				width: 43%;
				float: left;
				display: inline-block;
				padding: 3% 4%;
			}
			.output{
				width: 30%;
				padding: 3% 4%;
				float: left;
				display: inline-block;
				text-align: right;
				color: rgba(0,0,0,0.4);
			}
			.btn{
				width: 11%;
				padding: 3% 0%;
				float: right;
				display: inline-block;
				font-size: 1em;
				line-height: 1.5em;
				background: #FAFAFA;
				text-align: center;
				color: rgba(0,0,0,0.2);

				&:hover{
					cursor: pointer;
					color: rgba(0,0,0,0.6);
				}
			}

			// &:nth-child(odd){
			// 	float: right;
			// }
		}
	}

	// Empty items style
	.empty-items{
		width: 50%;
		margin: 0% 25%;
		padding: 3% 0%;
		float: left;
		display: inline-block;
		font-size: 1em;
		color: @light_textcolor;
		text-align: center;
	}
}

// Container all Page
.container{
	width: 50%;
	margin: 0% 25%;
	margin-top: 135px;
	margin-bottom: 3%;
	min-height: 500px;
	float: left;
	display: inline-block;

	.graph-filter{
		width: 100%;
		float: left;
		display: inline-block;
		border-bottom: 1px solid @border_color;
		background: #FFFFFF;

		.filter-items{
			padding: 10px;
			float: left;
			display: inline-block;
			margin-bottom: -1px;
			color: rgba(0,0,0,0.4);
			border-bottom: 1px solid transparent;
			font-size: 0.9em;

			&:hover{
				cursor: pointer;
				color: @primary_color;
			}
		}

		.filter-items-active{
			color: @primary_color;
			font-weight: bold;
			border-bottom: 1px solid @primary_color;
		}
	}

	.graph-report{
		width: 100%;
		margin: 0%;
		float: left;
		display: inline-block;
		background: @white_color;

		h2{
			width: 96%;
			padding: 2%;
			float: left;
			display: inline-block;
			font-size: 1.5em;
			color: @primary_color;
			text-align: center;
		}

		.graph{
			width: 97.5%;
			margin-left: 2.5%;
			float: left;
			display: inline-block;
			background: @white_color;
		}

		.report-yield-table{
			width: 99%;
			margin: 3% 0%;
			margin-right: 1%;
			float: left;
			display: inline-block;
			line-height: 3em;
			font-size: 0.5em;
			margin-bottom: 10%;
			border-top: 1px solid @border_color;
			border-left: 1px solid @border_color;
			color: @normal_textcolor;

			.caption-col{
				width: 12%;
				float: left;
				display: inline-block;
				font-weight: bold;

				.row{
					width: 90%;
					padding-left: 10%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid @border_color;
				}

				.date{
					font-weight: bold;
					background: @border_color;
				}
			}

			.data-items{
				width: 5.5%;
				float: left;
				display: inline-block;

				.v{
					width: 100%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid @border_color;
					border-left: 1px solid @border_color;
					text-align: center;
				}

				.date{
					font-weight: bold;
					background: @border_color;
				}

				.highlight{ color: @green_color; }

				.zero{ color: @thin_textcolor; }

				&:last-child{
					.v{
						border-right: 1px solid @border_color;
					}
				}
			}
		}
	}

	.starter-message{
		width: 100%;
		padding: 10% 0%;
		float: left;
		display: inherit;
		text-align: center;
		font-style: italic;
		font-size: 1em;
		color: @light_textcolor;
	}
}

// Message page style (News message)
.message-list-container{
	width: 100%;
	margin-top: 135px;
	margin-bottom: 3%;
	min-height: 500px;
	float: left;
	display: inline-block;

	> .message-items{
		width: 48%;
		padding: 2% 1%;
		margin: 0% 25%;
		float: left;
		display: inline-block;
		line-height: 1.5;
		background: #FFFFFF;
		border-top: 1px solid #EEEEEE;

		&:first-child{
			border-top: 0px;
		}

		.icon{
			width: 12%;
			float: left;
			display: inline-block;
			font-size: 2em;
			text-align: center;
			color: @primary_color;
		}
		.detail{
			width: 88%;
			float: left;
			display: inline-block;

			.id{
				width: 100%;
				float: left;
				display: inline-block;
				color: rgba(0,0,0,0.4);
				font-size: 0.8em;
				margin-bottom: 1%;
			}

			.message{
				color: #000000;
				font-size: 1em;
				line-height: 1.5em;
			}
		}
	}
}

// User activity style
.activity-list-container{
	width: 100%;
	margin-top: 135px;
	margin-bottom: 3%;
	min-height: 500px;
	float: left;
	display: inline-block;

	.activity-items{
		width: 50%;
		margin: 0% 25%;
		padding-top: 0.5%;
		float: left;
		display: inline-block;
		font-size: 0.8em;
		color: rgba(0,0,0,0.8);

		.time{
			width: 20%;
			float: left;
			display: inline-block;
			color: rgba(0,0,0,0.4);
		}

		.description{
			width: 80%;
			float: left;
			display: inline-block;

			strong{
				color: @primary_color;
			}
		}

		&:first-child{
			margin-top: 1%;
		}
	}
}

// Operation form style
.form-bar{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 50%;
	padding: 0% 25%;
	height: 50px;
	float: left;
	display: inline-block;
	z-index: 99;
	background: rgba(255, 255, 255, 0.9);

	> .discard-btn{
		float: left;
		display: inline-block;
		height: 22px;
		margin: 14px 0px;
		border-radius: 2px;
		color: rgba(0,0,0,0.4);
		font-size: 0.9em;

		&:hover{
			color: @red_color;
			text-decoration: underline;
		}

		i{
			margin-right: 10px;
		}
	}

	> a.page-title{
		float: left;
		display: inline-block;
		height: 22px;
		margin: 14px 0px;
		border-radius: 2px;
		color: rgba(0,0,0,0.2);
		font-size: 0.9em;

		&:hover{
			color: rgba(0,0,0,0.6);
			text-decoration: underline;
		}

		i{
			margin-right: 10px;
		}
	}

	> .btn{
		background: @green_color;
		color: #FFFFFF;
		border: 0px;
		float: right;
		padding: 0px 15px;
		height: 30px;
		margin: 10px 0px;
		border-radius: 2px;
		font-weight: bold;
		font-size: 0.8em;

		&:hover{
			cursor: pointer;
			opacity: 0.8;
		}

		i{
			margin-left: 10px;
		}
	}
}

// Header report form style.
.form-container{
	width: 50%;
	margin: 0% 25%;
	float: left;
	display: inline-block;
	margin-top: 80px;
	margin-bottom: 3%;

	> .form-title{
		width: 100%;
		padding: 3% 0%;
		float: left;display: inline-block;
		font-size: 1.3em;

		.caption{
			width: 48%;
			margin-right: 3%;
			padding: 10px 0px;
			float: left;
			display: inline-block;
			text-align: right;
		}
		.input{
			width: 49%;
			float: right;
			display: inline-block;

			.input-select{
				padding: 10px 20px;
				margin-left: 5px;
				font-size: 1em;
				font-family: @FontStylePrimary;
				color: @primary_color;
				border: 1px solid #DDDDDD;
				background: #FFFFFF;
				border-radius: 2px;
				font-weight: bold;
				-webkit-appearance: none;
			}
		}
	}

	> .form-section{
		width: 100%;
		float: left;
		display: inline-block;

		.title{
			width: 98%;
			padding: 1% 0%;
			float: left;
			display: inline-block;
			line-height: 1.5em;
			font-size: 1.2em;
			color: @normal_textcolor;
			margin-top: 2%;
		}
		.inputs{
			width: 100%;
			float: left;
			display: inline-block;

			.section-items{
				width: 48%;
				margin-bottom: 2%;
				float: left;
				display: inline-block;
				border: 1px solid @border_color;
				border-radius: 2px;
				background: @white_color;

				&:nth-child(even){
					float: right;
				}

				.input{
					width: 100%;
					float: left;
					display: inline-block;

					.input-text{
						width: 100%;
						padding-top: 4%;
						float: left;
						display: inline-block;
						font-family: @FontStylePrimary;
						font-size: 3em;
						line-height: 1em;
						background: @white_color;
						border: 0px;
						text-align: center;
						outline: none;
					}
				}
				.caption{
					width: 100%;
					padding-bottom: 3%;
					float: left;
					display: inline-block;
					font-size: 0.8em;
					color: @light_textcolor;
					line-height: 1em;
					text-align: center;
				}
			}
		}

		.input-remark{
			width: 98%;
			padding: 1%;
			float: left;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1em;
			line-height: 1.5em;
			border: 1px solid #DDDDDD;
			line-height: 1.5em;
			min-height: 100px;
			resize: none;
		}
	}
}

// Report detail editor (Add operation to caliber)
.operation-form-container{
	width: 50%;
	margin: 0% 25%;
	margin-top: 70px;
	float: left;
	display: inline-block;
	background: @white_color;

	.operation-items{
		width: 96%;
		padding: 0% 2%;
		float: left;
		display: inline-block;
		line-height: 3em;
		font-size: 1em;
		border-bottom: 1px solid @border_color;
		color: @normal_textcolor;

		.col1{
			width: 40%;
			float: left;
			display: inline-block;
		}
		.col2{
			width: 8%;
			padding: 0% 1%;
			float: left;
			display: inline-block;
			text-align: center;
		}
		.col3{
			width: 8%;
			padding: 0% 1%;
			float: left;
			display: inline-block;
			text-align: center;
		}
		.col4{
			width: 8%;
			padding: 0% 1%;
			float: left;
			display: inline-block;
			text-align: center;
		}
		.col5{
			width: 27%;
			float: left;
			display: inline-block;
			margin-left: 3%;
		}

		.input-text{
			width: 100%;
			float: left;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1em;
			border: 0px;
			line-height: 3em;
			border-radius: 0px;
			text-align: center;
			background: @white_color;
			color: @dark_textcolor;
			font-weight: bold;
			outline: 0;
		}

		.-red{
			color: @red_color;
		}

		.input-select{
			font-weight: normal;
			-webkit-appearance: none;
			color: @light_textcolor;
		}
	}

	.topic-fix{
		font-size: 0.9em;
		color: @light_textcolor;
	}

	.note{
		width: 96%;
		margin: 2%;
		float: left;
		display: inline-block;
		font-size: 0.8em;
		line-height: 1.5em;
		color: @light_textcolor;

		strong{
			color: rgba(0,0,0,0.8);
		}
	}
}

// Form control for delete report or operation
.control-container{
	width: 50%;
	padding: 1% 25%;
	margin-top: 2%;
	float: left;
	display: inline-block;
	background: #FAFAFA;
	text-align: center;
	font-size: 0.9em;

	> .delete-btn{
		display: inline-block;
		font-size: 1em;
		padding: 5px 20px;
		color: @white_color;
		background: @red_color;
		border-radius: 2px;
		margin: 0px 5px;

		i{ margin-left: 5px; }

		&:hover{
			cursor: pointer;
			opacity: 0.8;
		}
	}
}

// Choose page before direct to form 
.choose-list-container{
	width: 50%;
	margin: 0% 25%;
	float: left;
	display: inline-block;

	> .choose-form-title{
		width: 100%;
		margin: 5% 0%;
		float: left;
		display: inline-block;
		text-align: center;

		.icon{
			font-size: 2em;
			color: @light_textcolor;
			margin-bottom: 1%;
		}
		.title{
			font-size: 1.5em;
			line-height: 1.5em;
			color: @light_textcolor;

			a{
				color: @primary_color;
				font-weight: bold;

				&:hover{ text-decoration: underline; }
			}
		}
	}

	.search-container{
		width: 100%;
		float: left;
		display: inline-block;

		.input-search{
			width: 96%;
			padding: 2%;
			float: left;
			display: inline-block;
			border: 0px;
			margin-bottom: 1%;
			font-family: @FontStylePrimary;
			font-size: 1em;
		}
	}

	// 	List all caliber before insert
	.caliber-choose-items{
		width: 96%;
		float: left;
		display: inline-block;
		border-bottom: 1px solid @border_color;
		font-size: 1em;
		line-height: 1em;
		padding: 2%;
		background: @white_color;

		&:last-child{ border-bottom: 0px; }
		&:hover{
			cursor: pointer;
			background: #FAFAFA;
		}

		.title{
			width: 25%;
			float: left;
			display: inline-block;
			font-weight: bold;
			color: #000000;

			u{
				color: @red_color;
			}
		}
		.std{
			width: 55%;
			float: left;
			display: inline-block;
			color: @light_textcolor;
			color: rgba(0,0,0,0.6);
		}
		.icon{
			width: 20%;
			float: left;
			display: inline-block;
			text-align: right;
			color: rgba(0,0,0,0.4);

			i{
				margin-left: 10px;
			}
		}

		.input{
			width: 20%;
			float: left;
			display: inline-block;

			.input-text{
				width: 65%;
				padding: 1% 5%;
				float: left;
				display: inline-block;
				font-family: @FontStylePrimary;
				font-size: 1em;
				line-height: 1em;
				border: 1px solid #EEEEEE;
				text-align: right;
			}
			.submit-btn{
				width: 20%;
				float: right;
				display: inline-block;
				border: 0px;
				background: @green_color;
				color: #FFFFFF;
				padding: 6px;
				border-radius: 2px;

				&:hover{
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}

	.caliber-choose-items{
		&:hover{
			background: #FFFFFF;
		}
		.title{
			line-height: 1.7em;
		}
		.std{
			line-height: 1.7em;
		}
	}
}

// Loading dialog and animate
.loading-box{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: inline-block;
	background: #FFFFFF;
	z-index: 99;
	display: none;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 20%;
		font-size: 1em;
		line-height: 1.5em;
		color: @normal_textcolor;

		.icon{
			font-size: 2em;
			margin-bottom: 1%;
		}
		p{
			font-size: 0.9em;
			color: rgba(0,0,0,0.6);
		}
	}
}

// Logout page style
.dialog-box{
	width: 100%;
	float: left;
	display: inline-block;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 25%;
		font-size: 1em;
		line-height: 1.5em;
		color: @normal_textcolor;
		font-style: italic;

		i{
			margin-right: 10px;
		}
	}
}

// Error page style
.error-container{
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;
	padding-top: 18%;

	.icon{
		font-size: 2em;
		margin-bottom: 2%;
		color: @light_textcolor;
	}
	p{
		font-size: 1.2em;
		line-height: 1.5em;
		margin-bottom: 5%;
		color: @normal_textcolor;
	}

	a{
		background: @primary_color;
		color: @white_color;
		padding: 10px;
		border-radius: 3px;
		font-size: 0.9em;

		&:hover{ opacity: 0.8; }
	}
}

// ROBOT STYLE
.robot{
	width: 40%;
	margin: 0% 30%;
	margin-top: 13%; 
	float: left;
	display: inline-block;

	.head{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 20%;
		text-align: center;

		h1{
			font-size: 2em;
			color: rgba(0,0,0,0.8);
		}
		p{
			font-size: 0.9em;
			color: rgba(0,0,0,0.6);
		}

		a{
			color: @primary_color;
			text-decoration: underline;
		}
	}

	.start{
		width: 100%;
		float: left;
		display: inline-block;

		.btn{
			width: 20%;
			margin: 0% 40%;
			float: left;
			display: inline-block;
			border: 1px solid @primary_color;
			color: @primary_color;
			border-radius: 20px;
			padding: 5px 0px;
			text-align: center;

			i{
				margin-left: 10px;
			}
		}

		.success{
			width: 100%;
			float: left;
			display: inline-block;
			text-align: center;
			font-size: 2em;
			color: @primary_color;

			i{
				margin-left: 10px;
			}
		}
	}

	.progress{
		width: 100%;
		margin: 2% 0%;
		float: left;
		display: inline-block;
		background: #EEEEEE;
		border-radius: 20px;
		overflow: hidden;

		.bar{
			width: 40%;
			height: 5px;
			border-radius: 20px;
			float: left;
			display: inline-block;
			background: @primary_color;
		}
	}

	p.caption{
		font-size: 0.8em;
		text-align: right;
		color: rgba(0,0,0,0.6);
	}

	.cal-box{
		width: 96%;
		padding: 5% 2%;
		border: 1px dashed #AAAAAA;
		margin-top: 5%;
		float: left;
		display: inline-block;
		font-size: 0.7em;
		border-radius: 3px;

		.box{
			width: 48%;
			float: left;
			display: inline-block;
			text-align: right;

			&:last-child{
				float: right;
				text-align: left;
			}
		}
	}
}
/* Other Device and Screen */
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}