@import "reset";
@import "config";

// header style
.header{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 50px;
	float: left;
	display: inline-block;
	background: @primary_color;
	z-index: 99;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);

	.items{
		padding: 14px 1%;
		height: 22px;
		float: left;
		display: inline-block;
		color: #4c70b7;
		border: 0px;
		font-size: 1em;

		&.-active{ color: #FFFFFF; }
		i{ margin-right: 20px; }
	}

	.btn{
		padding: 14px 1%;
		height: 22px;
		float: right;
		display: inline-block;
		background: #00287a;
		color: #FFFFFF;
		font-size: 1em;
		border: 0px;

		&:hover{
			cursor: pointer;
			background: #001e5b;
		}

		i{ margin-left: 10px; }
	}

	button.btn{
		padding: 0px 1%;
		height: 50px;
		float: right;
		display: inline-block;
		background: #00287a;
		color: #FFFFFF;
		font-size: 1em;
		border: 0px;

		&:hover{
			cursor: pointer;
			background: #001e5b;
		}

		i{ margin-left: 15px; }
	}
}

// Header list container style (Index)
.header-list-container{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 3%;
	min-height: 500px;
	float: left;
	display: inline-block;

	.filter{
		width: 50%;
		margin: 1% 25%;
		margin-bottom: 0%;
		float: left;
		display: inline-block;
		text-align: right;

		a{
			font-size: 0.8em;
			background: #EEEEEE;
			padding: 2px 5px;
			border-radius: 2px;
			color: #AAAAAA;
			border: 1px solid #DDDDDD;
			line-height: 1em;
		}
	}
}

// Report Detail Page style
.report-detail-container{
	width: 50%;
	margin: 0% 25%;
	margin-top: 100px;
	margin-bottom: 5%;
	min-height: 500px;
	float: left;
	display: inline-block;
	background: #FFFFFF;

	.starter-container{
		width: 100%;
		padding: 3% 0%;
		float: left;
		display: inline-block;
		text-align: center;

		a.create-btn{
			background: @green_color;
			color: @white_color;
			border-radius: 2px;
			font-weight: bold;
			font-size: 0.9em;
			padding: 7px 10px;

			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}

			i{ margin-right: 10px; }
		}
	}

	// Empty items style
	.empty-items{
		width: 50%;
		margin: 0% 25%;
		padding: 3% 0%;
		float: left;
		display: inline-block;
		font-size: 1em;
		color: @light_textcolor;
		text-align: center;
	}
}

// Message page style (News message)
.page{
	width: 50%;
	margin: 0% 25%;
	margin-top: 50px;
	margin-bottom: 5%;
	min-height: 500px;
	float: left;
	display: inline-block;

	.operation-items{
		width: 100%;
		padding: 2% 0%;
		float: left;
		display: inline-block;
		font-size: 1.2em;
		color: #333333;
		border-bottom: 1px solid #EEEEEE;

		&.topic-fix{
			font-size: 0.8em;
			margin-top: 15%;
		}

		.title{
			width: 40%;
			float: left;
			display: inline-block;
		}
		.val{
			width: 14%;
			float: left;
			display: inline-block;
			text-align: center;

			.input-text{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 1em;
				border: 0px;
				line-height: 1.5em;
				border-radius: 0px;
				text-align: center;
				background: @white_color;
				color: @dark_textcolor;
				outline: 0;
				-webkit-appearance: none;
			}
		}
		.remark{
			width: 17%;
			float: right;
			display: inline-block;

			.remark-select{
				width: 100%;
				float: left;
				display: inline-block;
				position: relative;

				&:after{
					content:'';
					border-top: 5px solid #999999;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					position: absolute;
					z-index: 2;
					top: 12px;
					right: 8%;
					pointer-events: none;
				}

				select{
					width: 100%;
					margin: 0%;
					float: left;
					display: inline-block;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					font-size: 1em;
					border: 0px;
					line-height: 1.5em;
					color: #999999;

					&:hover{
						cursor: pointer;
						color: #333333;
					}
				}
			}
		}
	}

	.topic-fix{
		font-size: 0.9em;
		color: @light_textcolor;
	}

	.note{
		width: 100%;
		margin: 3% 0%;
		float: left;
		display: inline-block;
		font-size: 0.75em;
		color: #999999;
	}

	.search-caliber{
		width: 100%;
		float: left;
		display: inline-block;
		position: relative;
		margin-bottom: 2%;

		.input-search{
			width: 94%;
			padding: 2% 3%;
			float: left;
			display: inline-block;
			border: 0px;
			border: 1px solid #EEEEEE;
			font-size: 2em;
			margin-top: 3%;
			border-radius: 2px;
			margin-bottom: 1%;
		}

		.icon{
			position: absolute;
			top: 30%;
			right: 3%;
			font-size: 1.6em;
			color: #CCCCCC;
		}

		p.label{
			text-align: right;
			font-size: 0.8em;
			color: #BBBBBB;
		}
	}

	.caliber-search-list{
		width: 100%;
		float: left;
		display: inline-block;

		.loading{
			width: 100%;
			margin-top: 30%;
			float: left;
			display: inline-block;
			text-align: center;
			font-size: 3em;
			color: #EEEEEE;
		}

		// 	List all caliber before insert
		.caliber-choose-items{
			width: 96%;
			padding: 2%;
			float: left;
			display: inline-block;
			font-size: 1em;
			border-bottom: 1px solid #FAFAFA;
			color: #333333;

			&:hover{
				cursor: pointer;
				background: #FAFAFA;

				.icon{ color: @primary_color; }
			}

			.title{
				width: 25%;
				float: left;
				display: inline-block;
				font-weight: bold;

				u{ color: @red_color; }
			}
			.std{
				width: 70%;
				float: left;
				display: inline-block;
			}
			.icon{
				width: 5%;
				float: left;
				display: inline-block;
				text-align: center;
				color: #BBBBBB;
				font-size: 1.2em;
			}
		}
	}

	// Topic style
	.topic-container{
		width: 100%;
		padding: 5% 0%;
		padding-bottom: 0%;
		float: left;
		display: inline-block;

		h2{
			padding: 0%;
			float: left;
			display: inline-block;
			font-size: 2em;
			color: #333333;
			line-height: 1em;
			font-weight: normal;
		}

		.btn{
			float: right;
			display: inline-block;
			background: #e5eaf4;
			color: #4c70b7;
			padding: 1.5% 2%;
			font-size: 0.8em;
			border-radius: 2px;
			line-height: 1em;

			&:hover{
				cursor: pointer;
				opacity: 0.7;
			}

			&:active{
				background: @primary_color;
				color: #FFFFFF;
				opacity: 1;
			}
		}

		.info{
			width: 95.7%;
			padding: 2%;
			float: left;
			display: inline-block;
			color: #999999;
			font-size: 0.9em;
			line-height: 1.5em;
			margin-top: 3%;
			border-radius: 2px;
			border: 1px dashed #DDDDDD;
			margin-bottom: 2%;
		}
	}

	.report-stat{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 1%;

		.stat-items{
			width: 18.25%;
			padding: 3%;
			float: left;
			display: inline-block;
			background: #FAFAFA;
			margin-bottom: 1%;
			margin-right: 1%;
			color: #000000;
			border-radius: 2px;

			&:nth-child(4n+0){
				margin-right: 0%;
				float: right;
			}

			&.-warning{
				color: #F44336;
				background: #FFEBEE;
			}

			.v{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 1.6em;
				line-height: 1.1em;
			}
			.k{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 0.8em;
			}
		}
	}

	.remark-msg{
		width: 100%;
		padding: 2% 0%;
		float: left;
		display: inline-block;
		font-size: 1.2em;
	}

	.header-report-table{
		width: 100%;
		float: left;
		display: inline-block;
		font-size: 1em;

		.box{
			width: 100%;
			float: left;
			display: inline-block;
			margin-top: 2%;

			.box-topic{
				width: 100%;
				float: left;
				display: inline-block;
				color: @normal_textcolor;
				font-size: 1.2em;
				margin-bottom: 1%;
			}

			.col{
				width: 18.25%;
				padding: 3%;
				float: left;
				display: inline-block;
				background: #FAFAFA;
				margin-bottom: 1%;
				margin-right: 1%;
				color: #000000;
				border-radius: 2px;

				&:nth-child(4n+0){
					margin-right: 0%;
					float: right;
				}

				.col-val{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 1.6em;
					line-height: 1.1em;
				}
				.col-caption{
					width: 100%;
					float: left;
					display: inline-block;
					font-size: 0.8em;
				}

				&.-empty{ color: #DDDDDD; }
			}
		}
	}
	// END Header info detail in table-layout

	// Caliber items stype
	// Output: Report detail
	.caliber-in-report-items{
		width: 93.7%;
		padding: 3%;
		margin-top: 3%;
		float: left;
		display: inline-block;
		border: 1px solid #EEEEEE;
		border-radius: 2px;

		.info{
			width: 100%;
			float: left;
			display: inline-block;

			.name{
				width: 100%;
				float: left;
				font-size: 1.4em;
				color: #000000;
			}

			.description{
				width: 100%;
				float: left;
				display: inline-block;
				font-size: 0.9em;
				line-height: 1.5em;
				color: #333333;

				a{
					text-decoration: underline;
					margin-left: 5px;
					color: @primary_color;

					i{ margin-left: 3px; }
				}
			}
		}

		// Opearation box
		.operations{
			width: 100%;
			float: left;
			display: inline-block;
			margin-top: 2%;

			// Operations items style
			.operation-items{
				width: 98%;
				padding: 1.5% 1%;
				float: left;
				display: inline-block;
				border-bottom: 1px solid #FAFAFA;
				font-size: 1em;
				color: #999999;

				&:hover{
					background: #FAFAFA;
					cursor: default;
				}

				&:last-child{
					border-bottom: 0px;
				}

				.fa-star{ color: #FFC107; }

				.col1{
					width: 64%;
					float: left;
					display: inline-block;
					color: #333333;
				}
				.col2{
					width: 12%;
					float: left;
					display: inline-block;
					text-align: right;

					&.-black{ color: #000000; }
				}
				.col3{
					width: 12%;
					float: left;
					display: inline-block;
					text-align: right;

					&.-green{ color: @green_color; }
				}
				.col4{
					width: 12%;
					float: left;
					display: inline-block;
					text-align: right;

					&.-red{
						color: @red_color;
					}
				}
			}

			.topic-fix{
				.col1,.col2,.col3,.col4{
					color: #999999;
					font-size: 0.7em;

					&:hover{
						color: #999999;
						cursor: default;
					}
				}
				
			}
		}
	}

	.turn-to-list{
		width: 100%;
		padding: 5% 0%;
		float: left;
		display: inline-block;

		.turn-to-items{
			width: 49%;
			margin-right: 2%;
			margin-bottom: 2%;
			float: left;
			display: inline-block;
			background: #FAFAFA;
			border-radius: 2px;

			&:nth-child(even){ margin-right: 0%; }

			.title{
				width: 42%;
				padding: 4%;
				float: left;
				display: inline-block;
			}
			.output{
				width: 32%;
				padding: 4%;
				float: left;
				display: inline-block;
				text-align: right;
			}
			.btn{
				width: 10%;
				padding: 4% 0%;
				float: right;
				display: inline-block;
				font-size: 1em;
				line-height: 1.5em;
				text-align: center;
				color: #DDDDDD;

				&:hover{
					cursor: pointer;
					color: #F44336;
				}
			}
		}
	}


	// Header info detail in table-layout
	// Manpower: report detail page
	.cal-box{
		width: 96%;
		padding: 3%;
		float: left;
		display: inline-block;
		font-size: 0.9em;
		background: #FAFAFA;
		color: #333333;

		.box{
			width: 50%;
			float: left;
			display: inline-block;
		}
	}

	.graph-filter{
		width: 100%;
		float: left;
		display: inline-block;
		padding: 2% 0%;

		.filter-items{
			width: 20%;
			padding: 1% 0%;
			float: left;
			display: inline-block;
			color: #999999;

			&:hover{ cursor: pointer; }
		}

		.filter-items-active{
			color: @primary_color;
			text-decoration: underline;
		}
	}

	.graph-report{
		width: 100%;
		margin: 0%;
		float: left;
		display: inline-block;
		background: @white_color;

		h2{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 2em;
			color: #333333;
			font-weight: normal;
		}

		.graph{
			width: 100%;
			float: left;
			display: inline-block;
			background: @white_color;
		}

		.report-yield-table{
			width: 100%;
			margin: 3% 0%;
			float: left;
			display: inline-block;
			line-height: 3em;
			font-size: 0.5em;
			margin-bottom: 10%;
			color: @normal_textcolor;

			.caption-col{
				width: 12%;
				float: left;
				display: inline-block;
				font-weight: bold;

				.row{
					width: 90%;
					padding-left: 10%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid @border_color;
				}

				.date{
					font-weight: bold;
					background: @border_color;
				}
			}

			.data-items{
				width: 5.5%;
				float: left;
				display: inline-block;

				.v{
					width: 100%;
					float: left;
					display: inline-block;
					border-bottom: 1px solid @border_color;
					border-left: 1px solid @border_color;
					text-align: center;
				}

				.date{
					font-weight: bold;
					background: @border_color;
				}

				.highlight{ color: @green_color; }

				.zero{ color: @thin_textcolor; }

				&:last-child{
					.v{
						border-right: 1px solid @border_color;
					}
				}
			}
		}
	}

	.starter-message{
		width: 100%;
		padding: 25% 0%;
		float: left;
		display: inline-block;
		text-align: center;
		font-style: italic;
		font-size: 3em;
		color: #EEEEEE;
	}

	.month-caption-items{
		width: 100%;
		padding: 2% 0%;
		float: left;
		display: inline-block;
		font-size: 2em;
		color: #333333;
	}

	// Header report items style
	.header-report-items{
		width: 96%;
		padding: 2%;
		float: left;
		display: inline-block;
		font-size: 1em;
		color: #333333;
		background: #FAFAFA;
		margin-bottom: 1%;
		border-radius: 2px;

		&:hover{
			cursor: pointer;
			background: #EEEEEE;
		}

		.date{
			width: 20%;
			float: left;
			display: inline-block;
			text-align: left;
			font-weight: bold;

			.new-items{
				font-size: 0.4em;
				margin-left: 5px;
				color: #FF9800;
				font-weight: normal;
			}
		}

		.shift{
			width: 5%;
			float: left;
			display: inline-block;
			text-align: center;

			&.-A{
				color: #304FFE;
			}
			&.-B{
				color: #FF9800;
			}
		}
		
		.eff{
			width: 15%;
			float: left;
			display: inline-block;
			text-align: right;

			.unit{
				margin-left: 3px;
				font-size: 0.75em;
			}

			i.fa-exclamation-circle{
				color: #F44336;
				margin-right: 1px;
			}
		}

		.owner{
			width: 30%;
			padding-left: 10%;
			float: left;
			display: inline-block;
			font-size: 0.9em;
			line-height: 1.7em;

			.time{
				font-size: 0.75em;
				margin-left: 10px;
				font-style: italic;
				color: #999999;
			}
		}

		.status{
			width: 5%;
			float: right;
			display: inline-block;
			text-align: center;
			color: #999999;
		}

		&.-not_owner{
			opacity: 0.3;
		}
	}

	.message-items{
		width: 100%;
		padding: 3% 0%;
		float: left;
		display: inline-block;
		border-bottom: 1px solid #EEEEEE;

		h2{
			font-size: 2em;
			font-weight: normal;
			color: #333333;
		}
		p{
			font-size: 1em;
			line-height: 1.5em;
			color: #333333;

			&.info{
				font-size: 0.8em;
				color: #999999;
				margin-bottom: 1%;
			}
		}
	}
}

// User activity style
.activity-list-container{
	width: 100%;
	margin-top: 135px;
	margin-bottom: 3%;
	min-height: 500px;
	float: left;
	display: inline-block;

	.activity-items{
		width: 50%;
		margin: 0% 25%;
		padding-top: 0.5%;
		float: left;
		display: inline-block;
		font-size: 0.8em;
		color: rgba(0,0,0,0.8);

		.time{
			width: 20%;
			float: left;
			display: inline-block;
			color: rgba(0,0,0,0.4);
		}

		.description{
			width: 80%;
			float: left;
			display: inline-block;

			strong{
				color: @primary_color;
			}
		}

		&:first-child{
			margin-top: 1%;
		}
	}
}

// Operation form style
.form-bar{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 50%;
	padding: 0% 25%;
	height: 50px;
	float: left;
	display: inline-block;
	z-index: 99;
	background: rgba(255, 255, 255, 0.9);

	> .discard-btn{
		float: left;
		display: inline-block;
		height: 22px;
		margin: 14px 0px;
		border-radius: 2px;
		color: rgba(0,0,0,0.4);
		font-size: 0.9em;

		&:hover{
			color: @red_color;
			text-decoration: underline;
		}

		i{
			margin-right: 10px;
		}
	}

	> a.page-title{
		float: left;
		display: inline-block;
		height: 22px;
		margin: 14px 0px;
		border-radius: 2px;
		color: rgba(0,0,0,0.2);
		font-size: 0.9em;

		&:hover{
			color: rgba(0,0,0,0.6);
			text-decoration: underline;
		}

		i{
			margin-right: 10px;
		}
	}

	> .btn{
		background: @green_color;
		color: #FFFFFF;
		border: 0px;
		float: right;
		padding: 0px 15px;
		height: 30px;
		margin: 10px 0px;
		border-radius: 2px;
		font-weight: bold;
		font-size: 0.8em;

		&:hover{
			cursor: pointer;
			opacity: 0.8;
		}

		i{
			margin-left: 10px;
		}
	}
}

// Header report form style.
.form{
	width: 40%;
	margin: 0% 30%;
	float: left;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 5%;

	.form-items{
		width: 100%;
		padding: 3% 0%;
		float: left;
		display: inline-block;
		border-bottom: 1px solid #EEEEEE;

		.caption{
			width: 100%;
			padding: 2% 0%;
			float: left;
			display: inline-block;
			font-size: 2em;
		}
		.input{
			width: 100%;
			float: left;
			display: inline-block;

			.label{
				width: 40%;
				padding: 4% 5%;
				float: left;
				display: inline-block;
				font-size: 2em;
				color: #999999;
				line-height: 1em;
				text-align: right;
			}

			.input-text{
				width: 42%;
				float: left;
				display: inline-block;
				font-size: 2em;
				padding: 4%;
				margin-bottom: 3%;
				background: #FAFAFA;
				border: 0px;
				border-radius: 2px;
				line-height: 1em;

				&:focus{
					background: #EEEEEE;
				}
			}

			.input-textarea{
				width: 92%;
				float: left;
				display: inline-block;
				font-size: 2em;
				padding: 4%;
				margin-bottom: 3%;
				background: #FAFAFA;
				border: 0px;
				border-radius: 2px;
				line-height: 1em;
				resize: none;

				&:focus{
					background: #EEEEEE;
				}
			}

			.select{
				width: 100%;
				margin-bottom: 3%;
				float: left;
				display: inline-block;
				position: relative;

				&.-day{
					width: 20%;
					margin-right: 3%;

					&:after{
						top: 22px;
						right: 11%;
						pointer-events: none;
					}

					select{ padding: 12px 20%; }
				}

				&.-month{
					width: 46%;
					margin-right: 3%;

					&:after{
						top: 22px;
						right: 10%;
						pointer-events: none;
					}

					select{ padding: 12px 8%; }
				}

				&.-year{
					width: 27%;
					margin-right: 0%;
					float: right;

					&:after{
						top: 22px;
						right: 10%;
						pointer-events: none;
					}

					select{ padding: 12px 12%; }
				}

				&.-haft{
					width: 48%;
					margin-right: 0%;

					&:after{
						top: 22px;
						right: 10%;
						pointer-events: none;
					}

					select{ padding: 12px 8%; }
				}

				&.-right{
					width: 48%;
					margin-right: 0%;
					float: right;

					&:after{
						top: 22px;
						right: 10%;
						pointer-events: none;
					}

					select{ padding: 12px 8%; }
				}

				&:after{
					content:'';
					border-top: 7px solid #999999;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					position: absolute;
					z-index: 2;
					top: 22px;
					right: 5%;
					pointer-events: none;
				}

				select{
					width: 100%;
					margin: 0%;
					padding: 3% 5%;
					float: left;
					display: inline-block;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					font-size: 2em;
					border: 0px;
					background: #FAFAFA;
					color: #333333;
					border-radius: 2px;

					&:hover{
						cursor: pointer;
						background: #EEEEEE;
					}
				}
			}
		}
	}

	.form-title{
		width: 100%;
		padding: 3% 0%;
		float: left;display: inline-block;
		font-size: 1.3em;

		.caption{
			width: 48%;
			margin-right: 3%;
			padding: 10px 0px;
			float: left;
			display: inline-block;
			text-align: right;
		}
		.input{
			width: 49%;
			float: right;
			display: inline-block;

			.input-select{
				padding: 10px 20px;
				margin-left: 5px;
				font-size: 1em;
				font-family: @FontStylePrimary;
				color: @primary_color;
				border: 1px solid #DDDDDD;
				background: #FFFFFF;
				border-radius: 2px;
				font-weight: bold;
				-webkit-appearance: none;
			}
		}
	}

	> .form-section{
		width: 100%;
		float: left;
		display: inline-block;

		.title{
			width: 98%;
			padding: 1% 0%;
			float: left;
			display: inline-block;
			line-height: 1.5em;
			font-size: 1.2em;
			color: @normal_textcolor;
			margin-top: 2%;
		}
		.inputs{
			width: 100%;
			float: left;
			display: inline-block;

			.section-items{
				width: 48%;
				margin-bottom: 2%;
				float: left;
				display: inline-block;
				border: 1px solid @border_color;
				border-radius: 2px;
				background: @white_color;

				&:nth-child(even){
					float: right;
				}

				.input{
					width: 100%;
					float: left;
					display: inline-block;

					.input-text{
						width: 100%;
						padding-top: 4%;
						float: left;
						display: inline-block;
						font-family: @FontStylePrimary;
						font-size: 3em;
						line-height: 1em;
						background: @white_color;
						border: 0px;
						text-align: center;
						outline: none;
					}
				}
				.caption{
					width: 100%;
					padding-bottom: 3%;
					float: left;
					display: inline-block;
					font-size: 0.8em;
					color: @light_textcolor;
					line-height: 1em;
					text-align: center;
				}
			}
		}

		.input-remark{
			width: 98%;
			padding: 1%;
			float: left;
			display: inline-block;
			font-family: @FontStylePrimary;
			font-size: 1em;
			line-height: 1.5em;
			border: 1px solid #DDDDDD;
			line-height: 1.5em;
			min-height: 100px;
			resize: none;
		}
	}
}

// Form control for delete report or operation
.control-container{
	width: 100%;
	height: 50px;
	float: left;
	display: inline-block;
	background: #FAFAFA;

	.title{
		padding: 15px 1%;
		height: 20px;
		float: left;
		display: inline-block;
		color: #666666;
		border: 0px;
		font-size: 0.9em;
	}

	.btn{
		padding: 15px 1%;
		height: 20px;
		display: inline-block;
		float: left;
		color: #666666;
		border: 0px;
		font-size: 0.9em;

		&:hover{ cursor: pointer; }
		i{ margin-right: 10px; }

		&.btn-delete{
			color: #F44336;

			&:hover{
				background: #F44336;
				color: #FFFFFF;
			}
		}
	}
}

// Choose page before direct to form 
.choose-list-container{
	width: 50%;
	margin: 0% 25%;
	float: left;
	display: inline-block;

	> .choose-form-title{
		width: 100%;
		margin: 5% 0%;
		float: left;
		display: inline-block;
		text-align: center;

		.icon{
			font-size: 2em;
			color: @light_textcolor;
			margin-bottom: 1%;
		}
		.title{
			font-size: 1.5em;
			line-height: 1.5em;
			color: @light_textcolor;

			a{
				color: @primary_color;
				font-weight: bold;

				&:hover{ text-decoration: underline; }
			}
		}
	}
}

// Loading dialog and animate
.loading-box{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	float: left;
	display: inline-block;
	background: #FFFFFF;
	z-index: 99;
	display: none;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 20%;
		font-size: 1em;
		line-height: 1.5em;
		color: @normal_textcolor;

		.icon{
			font-size: 2em;
			margin-bottom: 1%;
		}
		p{
			font-size: 0.9em;
			color: rgba(0,0,0,0.6);
		}
	}
}

// Logout page style
.dialog-box{
	width: 100%;
	float: left;
	display: inline-block;

	.dialog{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 25%;
		font-size: 1em;
		line-height: 1.5em;
		color: @normal_textcolor;
		font-style: italic;

		i{
			margin-right: 10px;
		}
	}
}

// Error page style
.error-container{
	width: 100%;
	float: left;
	display: inline-block;
	text-align: center;
	padding-top: 18%;

	.icon{
		font-size: 2em;
		margin-bottom: 2%;
		color: @light_textcolor;
	}
	p{
		font-size: 1.2em;
		line-height: 1.5em;
		margin-bottom: 5%;
		color: @normal_textcolor;
	}

	a{
		background: @primary_color;
		color: @white_color;
		padding: 10px;
		border-radius: 3px;
		font-size: 0.9em;

		&:hover{ opacity: 0.8; }
	}
}

// ROBOT STYLE
.robot{
	width: 40%;
	margin: 0% 30%;
	margin-top: 13%; 
	float: left;
	display: inline-block;

	.head{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 20%;
		text-align: center;

		h1{
			font-size: 2em;
			color: rgba(0,0,0,0.8);
		}
		p{
			font-size: 0.9em;
			color: rgba(0,0,0,0.6);
		}

		a{
			color: @primary_color;
			text-decoration: underline;
		}
	}

	.start{
		width: 100%;
		float: left;
		display: inline-block;

		.btn{
			width: 20%;
			margin: 0% 40%;
			float: left;
			display: inline-block;
			border: 1px solid @primary_color;
			color: @primary_color;
			border-radius: 20px;
			padding: 5px 0px;
			text-align: center;

			i{
				margin-left: 10px;
			}
		}

		.success{
			width: 100%;
			float: left;
			display: inline-block;
			text-align: center;
			font-size: 2em;
			color: @primary_color;

			i{
				margin-left: 10px;
			}
		}
	}

	.progress{
		width: 100%;
		margin: 2% 0%;
		float: left;
		display: inline-block;
		background: #EEEEEE;
		border-radius: 20px;
		overflow: hidden;

		.bar{
			width: 40%;
			height: 5px;
			border-radius: 20px;
			float: left;
			display: inline-block;
			background: @primary_color;
		}
	}

	p.caption{
		font-size: 0.8em;
		text-align: right;
		color: rgba(0,0,0,0.6);
	}

	.cal-box{
		width: 96%;
		padding: 5% 2%;
		border: 1px dashed #AAAAAA;
		margin-top: 5%;
		float: left;
		display: inline-block;
		font-size: 0.7em;
		border-radius: 3px;

		.box{
			width: 48%;
			float: left;
			display: inline-block;
			text-align: right;

			&:last-child{
				float: right;
				text-align: left;
			}
		}
	}
}
/* Other Device and Screen */
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}