.logo{
	font-size: 24px;
	font-weight: bold;
}

.title{
	font-size: 18px;
	font-weight: bold;
}

table, th, td {
    border: 1px solid #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 9px;
}

td{
	padding: 5px;
	line-height: 1em;
}

p{
	font-size: 10px;
	color: #555555;
}
h3{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.center{
	text-align: center;
}

.black{
	background: #555555;
}

b{
	font-weight: bold;
	color: #000000;
}
b.big{
	font-size: 11px;
}

.caption{
	background: #AAAAAA;
	color: #FFFFFF;
}